@import "../../../../ui/style/scss/partials/_variables.scss";

.dynamic_ads {
  width: 100%;
  margin: 0 auto;
}

.broadcast {
  max-width: 970px;
  height: 90px;
  margin: 0 auto;
  border: 0 solid #ddd;
  margin-top: 10px;
  display: block;
  text-align: center;
}

.clr {
  height: 0 !important;
  line-height: 0 !important;
  float: none !important;
  clear: both !important;
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
}

body {
  background-color: #fff !important;
  font-family: "Muli-Regular";
  padding: 0;
  margin: 0;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-stretch: normal;
  font-size: 15px;
}

.content_are {
  width: 1156px;
  margin: 0 auto;
  overflow: visible;
}

.nav_mini {
  display: block;
  overflow: hidden;
  padding: 20px 0;
  height: 16px;
}

.news_left {
  width: 764px;
  float: left;
  padding-right: 52px;
}

.Page_heading {
  display: block;
}

.Page_heading h1 {
  color: #272a41;
  font-size: 25px;
  padding: 0;
  margin: 0;
  padding: 0 0 20px 0;
  float: left;
  width: 94%;
  font-family: Muli-Regular;
}

.share_icon {
  right: -10px;
  float: right;
  position: relative;
}

.share_icon_ul {
    background-color: rgb(255, 255, 255);
    position: absolute;
    z-index: 2;
    left: -1px;
    box-shadow: rgb(136 136 136) 0 0 5px -2px;
    display: none;
}

.show_drowdown {
    display: block;
}

#social_icon_facebook {
    width: 27px;
    height: 27px;
    background: url(#{$cloudfront-img-cdn-path}/images4/facebook.svg?v=5) 0 0
      no-repeat;
    margin: 9px 7px;
    display: block;
  }
  #social_icon_twitter {
    width: 27px;
    height: 27px;
    background: url(#{$cloudfront-img-cdn-path}/images4/twitter.svg?v=5) 0 0
      no-repeat;
    margin: 9px 7px;
    display: block;
  }
  #social_icon_gplus {
    width: 27px;
    height: 27px;
    background: url(#{$cloudfront-img-cdn-path}/images4/gplus.svg?v=5) 0 0
      no-repeat;
    margin: 9px 7px;
    display: block;
  }
  #social_icon_gmail {
    width: 27px;
    height: 27px;
    background: url(#{$cloudfront-img-cdn-path}/images4/email.svg?v=5) 0 0
      no-repeat;
    margin: 9px 7px;
    display: block;
  }
  
  #social_icon_gplus :hover {
    fill: blue;
  }
  

a {
  transition: color 300ms, background-color 300ms;
  text-decoration: none;
  cursor: pointer;
}

.seocontent {
  display: block;
  overflow: hidden;
  background: #f6f6f6;
  padding: 20px;
  font-size: 14px;
  font-family: Muli-semibold;
  color: #56586a;
  border-radius: 5px;
  margin-bottom: 24px;
  line-height: 20px;
}

.rupee_font {
  font-family: Sans-Serif !important;
  letter-spacing: normal;
  font-weight: normal !important;
  display: inline !important;
  margin: 0 !important;
  padding: 0;
}

.gap_btm {
  margin-bottom: 24px;
}

.inside_wrapper {
  border: 1px solid #f0f0f0;
}

.inside_wrapper .formWrap {
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 30px;
  border-bottom: 1px solid #f0f0f0;
}

.inside_wrapper .filterLabel {
  font-size: 15px;
  color: #92939e;
  line-height: normal;
  top: 5px;
  position: relative;
  padding-right: 11px;
  left: -6px;
}

label {
  cursor: default;
}

.inside_wrapper .form-control {
  width: 256px;
  color: #56586a;
  font-size: 15px !important;
  border: none;
  border-bottom: 1px solid #ccc;
  box-shadow: none;
  outline: none;
  border-radius: 0;
  vertical-align: middle;
  margin-left: 0;
  display: inline-block;
  padding-left: 0;
  box-sizing: border-box;
  margin-bottom: 0;
  padding-bottom: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  background: transparent
    url(#{$cloudfront-img-cdn-path}/images4/down_arrow_18.svg) no-repeat 238px
    10px;
  background-size: 12px auto;
  position: relative;
  top: 3px;
}

.selectDDCust {
  position: relative;
  overflow: visible;
  cursor: pointer;
}

.selectDDCust .dropDownWrap {
  height: 215px;
  overflow-y: auto;
  padding: 8px;
  left: 0;
  top: -85px;
  right: 0;
  bottom: auto;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 1px 5px -1px rgba(82, 86, 88, .41568627450980394);
  z-index: 1;
}

.slc_top {
  top: 0 !important;
}

.er_msg {
  display: block;
  width: 100%;
  color: #e16363;
  overflow: hidden;
  position: absolute !important;
}

.inside_wrapper .go-btn {
  display: inline-block;
  border-radius: 22px;
  border: 1px solid #d02326;
  padding: 8px 39.33px;
  width: auto;
  font-size: 15px;
  color: #d02326;
  vertical-align: middle;
  cursor: pointer;
  top: 3px;
  position: relative;
  transition: .2s;
  background: #fff;
  text-transform: uppercase;
  font-family: "Muli-Regular";
  font-weight: bold;
  margin-left: 10px;
}

input {
  outline: none !important;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
}

input[type="button" i] {
  appearance: auto;
  user-select: none;
  white-space: pre;
  align-items: flex-start;
  text-align: center;
}

.cars_list {
  overflow: hidden;
  display: block;
}

.cars_list ul li .left_block {
  float: left;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.cars_list ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.cars_list ul li .left_block img {
  width: 240px;
  height: 135px;
  border: 1px solid #e8e8e8;
}

.cars_list ul li .right_block {
  float: left;
}

.right_block {
  width: 61%;
  padding-left: 32px;
}

.right_block h2 a {
  color: #272a41;
  font-size: 22px;
  font-family: Muli-Semibold;
  position: relative;
  top: -7px;
}

.right_block h2 {
  padding: 0;
  margin: 0;
  line-height: normal;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.row {
  display: block;
  clear: both;
  overflow: hidden;
}

.column:nth-child(1) {
  border-right: 1px solid #e8e8e8;
}

.column {
  float: left;
  width: 37%;
  margin: 4px 0 14px 0;
  box-sizing: border-box;
}

.launch {
  display: block;
  padding-left: 30px;
  width: 53%;
}

.launch_time {
  font-size: 19px;
  color: #272a41;
  line-height: 20px;
  position: relative;
  top: -2px;
}

.launch span:nth-child(2) {
  font-size: 13px;
  color: #92939e;
  display: block;
  overflow: hidden;
}

.launch_text {
  font-size: 13px;
  color: #92939e;
  line-height: 20px;
  font-family: Muli-Regular;
}

.right_block p {
  margin: 0;
  padding: 0;
  color: #56586a !important;
  line-height: 20px;
  font-size: 14px;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.var_on_btn {
  font-weight: normal;
  font-family: Muli-regular;
}

.var_on_btn {
  border-radius: 24px;
  background-color: #cf2225;
  border: 1px solid #cf2225;
  box-shadow: none;
  padding: 10px 32px 9px 32px !important;
  font-size: 15px !important;
  width: 247px;
  line-height: normal;
  color: #fff !important;
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
  text-align: center !important;
  text-transform: uppercase;
  transition: .2s;
  margin-top: 12px;
}

.cars_list ul li {
  border-bottom: 1px solid #f0f0f0;
  overflow: hidden;
  padding: 24px;
}

.prc span:nth-child(1) {
  font-size: 15px;
  color: #272a41;
  display: block;
  overflow: hidden;
  padding-bottom: 5px;
}

.rupee_font {
  font-family: Sans-Serif !important;
  letter-spacing: normal;
  font-weight: normal !important;
  display: inline !important;
  margin: 0 !important;
  padding: 0;
}

.prc span:nth-child(2) {
  font-size: 13px;
  color: #92939e;
  display: block;
  overflow: hidden;
}

.news_right {
  width: 340px;
  float: left;
}

.inpad_right {
  border: 1px solid #f0f0f0;
  margin-bottom: 20px;
}

.ad {
  display: block;
  padding: 20px;
}

.tabs_block {
  width: 100%;
  display: block;
  overflow: hidden;
}

.pagN_bottom {
  display: inline-block;
  overflow: hidden;
  margin: 24px 24px 20px 24px;
  border: 1px solid #e8e8e8;
}
.pagN_bottom a {
    color: #56586a;
    float: left;
    padding: 8px 18px 8px 18px;
    text-decoration: none;
    transition: background-color .3s;
    border: 0 solid #ddd;
}
.pagN_bottom a img {
  position: relative;
  top: 2px;
}
.pagN_bottom a:hover:not(.active) {
  background-color: #ddd;
}
.pagN_bottom a.active {
  background-color: #f07e7c;
  color: white;
  border: 0 solid #4caf50;
}

.loan {
    display: block;
    overflow: hidden;
    padding: 20px 15px;
    background: #f1807e;
    background: -moz-linear-gradient(left, #f1807e 0%, #fab9a4 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #f1807e), color-stop(100%, #fab9a4));
    background: -webkit-linear-gradient(left, #f1807e 0%, #fab9a4 100%);
    background: -o-linear-gradient(left, #f1807e 0%, #fab9a4 100%);
    background: -ms-linear-gradient(left, #f1807e 0%, #fab9a4 100%);
    background: linear-gradient(to right, #f1807e 0%, #fab9a4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1807e', endColorstr='#fab9a4', GradientType=1 );
    border-radius: 5px;
}

.loan span:nth-child(1) {
    font-size: 19px;
    color: #fff;
    display: block;
    padding: 0 0 15px 0;
}

.loan span:nth-child(2) {
    font-size: 14px;
    color: #fff;
    display: block;
    padding: 0 0 20px 0;
}

.loan a {
    text-transform: uppercase;
    color: #fff;
    font-size: 15px;
    border: 1px solid #fff;
    padding: 12px;
    border-radius: 50px;
    margin-top: 10px;
    display: block;
    width: 40%;
    text-align: center;
}



.cars_list .column.prc {
    width: 47%;
}

.exp_rev {
  background: url(#{$cloudfront-img-cdn-path}/images4/ExpertReviews.svg) right bottom no-repeat;
  background-size: 45%;
}

.inpad_right {
  border: 1px solid #f0f0f0;
  margin-bottom: 20px;
}

.car_head {
  color: #272a41;
  text-align: left;
  padding: 20px 15px;
  width: 100%;
  border-bottom: 1px solid #f07e7c;
  box-sizing: border-box;
  font-size: 15px;
  text-transform: uppercase;
  font-family: Muli-Semibold;
}

ul li {
  margin: 0;
  padding: 0;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 40px;
}

.vw_all {
  display: block;
  position: relative;
  top: -15px;
}

.vw_all a {
  color: #d02326;
  text-align: right;
  display: block;
  font-size: 15px;
  overflow: hidden;
  padding: 0 0 0 15px;
  text-align: left;
  background: url(#{$cloudfront-img-cdn-path}/images4/next_red.svg) 75px 0 no-repeat;
  background-size: 19px;
}





