
//font type variables
$font-muli-regular: "Muli-Regular";
$font-muli-bold: "Muli-Bold";
$font-muli-semibold: "Muli-SemiBold";
$font-lato-regular: "lato-regular", sans-serif;
$font-lato-bold: "lato-bold", sans-serif;
$font-latoweb: 'LatoWeb', sans-serif, Arial;
//font size variables
$font-light: 200;
$font-normal: 400;
$font-semibold: 600; // For semi bold use Muli-SemiBold
$font-bold: 700;


//cdn image path
$img-cdn-path : "https://imgd.aeplcdn.com";
$cloudfront-img-cdn-path: "https://d5x4wettsjecf.cloudfront.net";