/* common css starts */

* {
  transition-duration: 0.6s;
  transition-property: all;
  transition-timing-function: ease;
}

body {
  font-family: "Muli-Regular" !important;
  padding: 0px;
  margin: 0px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-stretch: normal;
  font-size: 15px;
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.newcarpgM15 .resultblk li .resultright .rsltheading,
.newcarpgM15 .resultblk li .resultright .rsltheading h2,
.newcarpgM15 h3 {
  color: #575756;
  text-transform: inherit;
  font-size: 16px !important;
  font-weight: 700;
  line-height: 18px;
}

.separator {
  width: 100%;
  height: 16px;
  background: #f0f0f0;
}

/* common css ends */

/*Make list css starts here*/

.slid_title_make_top h1 {
  padding: 21px 20px 20px 17px;
  font-size: 21px;
  color: #272a41;
  font-family: "Muli-Regular";
}
.make_list ul li {
  padding: 23px 10px 12px;
  display: block;
  overflow: hidden;
  list-style: none;
  border-bottom: 1px solid #dfe0e2;
}

.make_list ul li .left {
  float: left;
  width: 39%;
  border: 1px solid #e8e8e8;
  margin-right: 13px;
  overflow: hidden;
  height: 40%;
}

.make_list ul li .right {
  float: left;
  width: 56%;
}

.right h3 {
  font-size: 17px;
}

.make_list ul li .left img {
  width: 100%;
}

.car_name {
  padding-top: 0;
  font-size: 17px;
  color: #272a41;
  font-family: "Muli-SemiBold";
  display: block;
  overflow: hidden;
  padding-bottom: 10px;
}
.slid_title h2 {
  padding: 0;
  font-size: inherit;
  color: #272a41;
}

.make_price_label {
  font-size: 12px;
  color: #92939e;
  padding-top: 8px;
  overflow: hidden;
  display: block;
}
.make_price {
  font-size: 15px;
  color: #272a41;
  font-family: Muli-Regular;
}

.ex_dat {
  font-size: 0.9rem;
  color: #56586a;
  display: block;
  padding: 11px 0 0 0;
}

.lanch {
  color: #92939e;
  font-size: 12px;
  display: inline-block;
  padding-left: 11px;
}

/*Make list css ends here*/

/** Button css starts */
.buttons {
  display: block;
  overflow: hidden;
  margin: 20px 16px 20px;
}

.buttons ul li {
  list-style: none;
}

.buttons ul li a.nxt {
  float: right;
  display: block;
  padding: 5px 31px;
  border-radius: 50px;
  color: #d02326;
  font-size: 15px;
  width: auto;
  text-align: center;
  border: 1px solid rgb(210, 210, 213);
}

.clear {
  clear: both;
  font-size: 0px;
}

input[type="submit"],
input[type="button"],
a {
  -webkit-appearance: none;
}

ul {
  margin: 0;
  padding: 0 !important;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

/** Button css ends */

/** ad css start **/
.noback {
  text-align: center;
  position: relative;
  background: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
}

.adbanner1 {
  background: #ddd;
  width: 100%;
  padding: 5px 0;
}
.adbanner1 .adblk {
  width: 320px !important;
  min-height: 50px;
  margin: auto;
  box-shadow: 1px 3px 3px #aaa;
}

.ad_block {
  background: #f0f0f0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ad_grid {
  display: block;
  width: 320px;
  margin: 0 auto;
  width: 320px;
}

.top_gap_cls {
  width: 360px !important;
  max-width: 360px !important;
  height: auto !important;
  max-height: none !important;
  padding-left: 0px !important;
  margin-left: -20px !important;
  margin-right: 0px !important;
}

/* ad css ends*/

.slid_title_make_top h1 {
  display: block;
  padding: 21px 20px 20px 17px;
  font-size: 21px;
  color: #272a41;
  font-family: "Muli-Regular";
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
}

.footer_navi {
  background: #f0f0f0;
  padding: 15px;
  margin-top: 2px;
  margin-bottom: 2px;
}
