@import "../../../mixins/icons";

/** ad starts here **/
.dynamic_ads {
  width: 100%;
  margin: 0 auto;
}

.broadcast {
  max-width: 970px;
  height: 90px;
  margin: 0 auto;
  border: 0px solid #ddd;
  margin-top: 10px;
  display: block;
  text-align: center;
}

/** ad ends here **/

body {
  background-color: #fff !important;
  font-family: "Muli-Regular";
  padding: 0px;
  margin: 0px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-stretch: normal;
  font-size: 15px;
}

.content_are {
  width: 1156px;
  margin: 0 auto;
  overflow: visible;
}

.nav_mini {
  display: block;
  overflow: hidden;
  padding: 20px 0;
}

.Page_heading {
  display: block;
}

.Page_heading h1 {
  color: #272a41;
  font-size: 25px;
  padding: 0;
  margin: 0;
  padding: 0 0 20px 0;
  float: left;
  width: 94%;
  font-family: Muli-Regular;
}

/** left block starts **/

.news_left {
  width: 764px;
  float: left;
  padding-right: 52px;
}

.inside_wrapper {
  border: 1px solid #f0f0f0;
}

.inside_wrapper .formWrap {
  padding: 23px 20px;
  border-bottom: 0px solid #f0f0f0;
  background: #fff8f5;
  display: table;
  width: 94.8%;
}

.selectDDCust {
  position: relative;
  overflow: visible;
  cursor: pointer;
  float: left;
  top: 8px;
}

.inside_wrapper .filterLabel {
  font-size: 15px;
  color: #56586a;
  line-height: normal;
  float: left;
  padding-right: 40px;
  font-family: Muli-Semibold;
  padding-top: 2px;
}

.float_l {
  float: left;
}

.mar_right20 {
  margin-right: 30px;
}

.inside_wrapper .form-control {
  width: 160px;
  color: #56586a;
  font-size: 15px !important;
  border: none;
  border-bottom: 2px solid #c4c4ca;
  box-shadow: none;
  outline: none;
  border-radius: 0px;
  vertical-align: middle;
  margin-left: 0px;
  display: inline-block;
  padding-left: 0px;
  box-sizing: border-box;
  margin-bottom: 0px;
  position: relative;
  padding-bottom: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  background: transparent
    url("https://d5x4wettsjecf.cloudfront.net/images4/down_arrow_18.svg") no-repeat 145px
    10px;
  background-size: 12px auto;
}

.focus_text {
  font-size: 12px;
  color: #56586a;
  line-height: normal;
  padding: 0;
  margin: 0;
  font-family: "Muli-Regular";
  margin-block-start: 0;
  margin-block-end: 0;
  position: absolute;
  top: -20px;
  display: none;
}

.selectDDCust .defaultVal {
  color: #92939e;
}

.er_msg {
  display: block;
  width: 100%;
  color: #e16363;
  overflow: hidden;
  position: absolute;
  font-size: 12px;
  top: 35px;
}

.inside_wrapper .go-btn {
  display: inline-block;
  border-radius: 22px;
  border: 1px solid #d02326;
  padding: 10px 50px;
  width: auto;
  font-size: 15px !important;
  color: #fff;
  vertical-align: middle;
  cursor: pointer;
  top: 0px;
  position: relative;
  transition: 0.2s;
  background: #d11900;
  text-transform: uppercase;
  font-family: "Muli-Semibold";
  font-weight: bold;
  margin-left: 24px;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.inside_wrapper .go-btn:hover {
  color: #d11900;
  background-color: #fff;
}

#blackOutWindow {
  display: none;
  background: #000;
  position: fixed;
  inset: 0;
  z-index: 100;
  opacity: 0.8;
}

.model_top_blk {
  width: 100%;
  background: #fff;
  margin-top: 24px;
  margin-bottom: 24px;
}

#scrollresult {
  overflow: hidden;
}

#scrollresult ul {
  margin: 0;
  line-height: normal;
  padding: 0;
  overflow: hidden;
}

#scrollresult ul li:nth-child(1),
#scrollresult ul li:nth-child(2),
#scrollresult ul li:nth-child(3) {
  padding-top: 32px;
  border: 0px solid green;
}

#scrollresult ul li {
  list-style: none;
  float: left;
}

.image_wrapper:nth-child(3n + 1) {
  float: left;
}

.image_wrapper {
  width: 250px;
  float: left;
}

.logolinks {
  float: left;
  padding-bottom: 25px;
  margin-top: 0;
  min-height: 120px;
  text-align: center;
  width: auto;
  border: 0px solid red;
}

a {
  transition: color 300ms, background-color 300ms;
  text-decoration: none;
  cursor: pointer;
}

.logolinks a img {
  width: 250px;
  height: 141px;
}

.img_title {
  display: block;
  padding-top: 15px;
}

.img_title a {
  padding: 0;
  margin: 18px auto 0px 0px;
  font-size: 13px;
  width: 100%;
  text-align: left;
  font-family: Muli-Regular;
  font-size: 15px;
  color: #272a41;
}

/** left block ends **/

/** right block starts **/

.news_right {
  width: 340px;
  float: left;
}

.inpad_right {
  border: 1px solid #f0f0f0;
  margin-bottom: 24px;
}

.ad {
  display: block;
  padding: 20px;
  min-height: 249px;
}

.lst_cars {
  background: url("https://d5x4wettsjecf.cloudfront.net/images4/CarBrochures.svg") right
    bottom no-repeat;
  background-size: 43%;
}

.car_head {
  color: #272a41;
  text-align: left;
  padding: 21px;
  width: 100%;
  border-bottom: 1px solid #f07e7c;
  box-sizing: border-box;
  font-size: 15px;
  text-transform: uppercase;
  font-family: Muli-Semibold;
}

.lst_cars ul {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 38px;
  margin-top: 32px;
}

.lst_cars ul li {
  display: block;
  border-bottom: 0px solid #f0f0f0;
  overflow: hidden;
  margin: 0 15px;
  padding: 0 0 12px 7px;
  width: auto;
}

.rev_bg {
  background: url("https://d5x4wettsjecf.cloudfront.net/images4/ExpertReviews.svg") right
    bottom no-repeat;
  background-size: 25%;
}

.ex_rews ul {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}

.ex_rews ul li:first-child {
  display: block;
  width: auto;
  border-bottom: 1px solid #ddd;
  overflow: hidden;
  margin: 0 10px;
  padding: 10px 0 13px 0;
}

.ex_rews ul li {
  display: block;
  width: auto;
  border-bottom: 1px solid #ddd;
  overflow: hidden;
  margin: 0 10px;
  padding: 8px 0;
}

.achr {
  color: #e16363;
  padding: 20px;
  display: block;
}
.ex_rews ul li:last-child {
  border-bottom: 0;
  padding: 0;
  margin: 0;
}

.ex_rews ul li .lef {
  display: table-cell;
  padding-right: 20px;
  vertical-align: middle;
}

.ex_rews ul li .lef a img {
  width: 111px;
}

.ex_rews ul li .rig {
  display: table-cell;
  padding: 12px 0;
  width: 100%;
  vertical-align: middle;
}

.ex_rews ul li .rig a {
  font-size: 15px;
  color: #272a41;
  display: block;
  overflow: hidden;
  font-family: Muli-Regular;
  width: auto;
  min-height: 40px;
}

.ex_rews ul li .rig p {
  line-height: normal;
  color: #92939e;
  padding: 0;
  margin: 0;
}

.ex_rews ul li .rig a:hover {
  color: #e16363;
}

.vw_all1,
.vw_all2 {
  width: 6%;
  position: relative;
  top: 4px;
  padding-left: 5px;
}

.loc_selc {
  padding: 0px;
  text-align: center;
  background: #fff;
  border: none;
  margin-bottom: 5px;
}

.customSelectbox.Make {
  margin: 32px auto auto;
}

#make_main {
  color: #92939e;
}

#model_main {
  color: #92939e;
}

.customSelectbox {
  color: #92939e;
  background: transparent
    url("#{$img-cdn-path}0x0/cw/static/icons/svg/6f6f6f/arrow-down.svg")
    no-repeat calc(100% - 14px) center;
  background-size: 16px;
}

.customSelectbox {
  color: #56586a;
  font-size: 15px;
  width: 88.89%;
  border: 1px solid #d2d2d5;
  border-radius: 4px;
  text-align: left;
  padding: 11px 20px 13px 20px;
  box-sizing: border-box;
}

.er_msg {
  display: block;
  width: 100%;
  color: #e16363;
  overflow: hidden;
  position: absolute;
}

.er_msg_ri {
  color: #e16363;
  font-size: 12px;
}

.customSelectbox.Model {
  margin: 20px auto 0px;
}

#priceform input.red_btn_new_v:hover {
  color: #cf2225 !important;
  background-color: #fff;
  border: 1px solid #cf2225;
}

#priceform input.red_btn_new_v {
  background: #db1700 none repeat scroll 0 0;
  border: medium none;
  border-radius: 22px !important;
  color: #fff;
  cursor: pointer;
  display: block;
  height: 46px !important;
  font-size: 15px !important;
  margin: 15px auto 32px !important;
  width: 90.558%;
  padding: 10px 0;
  text-shadow: none !important;
  text-transform: uppercase !important;
  outline: none;
}

.price_er {
  width: 100%;
  color: #e16363;
  overflow: hidden;
}

.price_er_ri {
  font-size: 12px;
  padding: 8px 0 0 23px !important;
  float: left;
}

/** right block ends **/
