.content_are.nearestCities {
    border: 1px solid #f0f0f0;
    box-sizing: border-box;
    padding: 24px;
    margin-top: 20px !important;
    overflow: hidden;
}
.btmMrg {
    margin-bottom: 20px !important;
}
.content_are {
    width: 1156px;
    margin: auto;
    overflow: visible;
}

.spc_dlr h2 {
    padding: 13px 0 0 0;
    margin-bottom: 32px;
}

.blockHeading {
    color: #272a41;
    font-size: 22px;
    font-family: 'Muli-SemiBold';
    margin: 0px 0px 24px 0px;
}


.mileage_Grf {
    display: block;
    float: left;
    width: 785px;
    background: #fafafa;
    padding: 15px 0 15px 0;
}

.entrire {
    overflow: visible;
    display: table;
    margin-left: 0;
    width: 100%;
    text-align: center;
}

.pln_txt {
    display: inline-block;
    border-bottom: 1px solid #92939e;
    text-align: left;
    padding-bottom: 12px;
    margin-right: 15px;
}
.wdth {
    width: 24%;
}

.pln_txt span {
    position: relative;
    top: 9px;
    font-size: 14px;
}

.drp_dns {
    width: 28%;
    display: inline-block;
    margin-right: 20px;
}

.drp_dns .form-control {
    width: 256px;
    color: #92939e;
    border: none;
    border-bottom: 1px solid #92939e;
    box-shadow: none;
    outline: none;
    border-radius: 0px;
    vertical-align: middle;
    margin-left: 0px;
    display: inline-block;
    padding-left: 0px;
    box-sizing: border-box;
    margin-bottom: 0px;
    padding-bottom: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    background: transparent url(https://d5x4wettsjecf.cloudfront.net/images4/down_arrow_18.svg) no-repeat 205px 10px;
    background-size: 12px auto;
    width: 100%;
    font-size: 14px !important;
}
.selectDDCust {
    position: relative;
    overflow: visible;
    cursor: pointer;
    margin: 17px 0;
}

.selectDDCust .defaultVal {
    color: #92939e;
}

.drp_dn_rit .smake_model2, .drp_dns .smake_model1 {
    text-align: left;
}
.smake_model2, .smake_model1 {
    font-size: 15px;
    color: #272a41 !important;
}

.selectDDCust .dropDownWrap {
    height: 170px;
    overflow-y: auto;
    padding: 8px;
    left: 0px;
    right: 0px;
    bottom: auto;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 1px 5px -1px rgb(82 86 88 / 42%);
    z-index: 111;
    top: 0px;
}

.drp_dn_rit .option, .drp_dns .option {
    line-height: normal;
    text-align: left;
    padding: 9px 12px;
    cursor: pointer;
    border-bottom: 1px solid #f0f0f0;
    color: #565a5c;
}

.drp_dn_rit {
    display: inline-block;
    width: 28%;
}

.drp_dn_rit .form-control {
    width: 256px;
    color: #92939e;
    border: none;
    border-bottom: 1px solid #92939e;
    box-shadow: none;
    outline: none;
    border-radius: 0px;
    vertical-align: middle;
    margin-left: 0px;
    display: inline-block;
    padding-left: 0px;
    box-sizing: border-box;
    margin-bottom: 0px;
    padding-bottom: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    background: transparent url(https://d5x4wettsjecf.cloudfront.net/images4/down_arrow_18.svg) no-repeat 205px 10px;
    background-size: 12px auto;
    width: 100%;
    font-size: 14px;
}


.mlg_com {
    padding: 25px 26px 0 20px;
    position: relative;
}

.selectDDCust .dropDownWrap::-webkit-scrollbar {
    width: 3px;
    border-radius: 12px;
}
.selectDDCust .dropDownWrap::-webkit-scrollbar {
    width: 3px;
    border-radius: 12px;
}
.selectDDCust .dropDownWrap::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background-color: #b2b3ba;
    outline: none;
}
.selectDDCust .dropDownWrap::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.chart-trial {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #fafafa;
    width: 90px;
    height: 15px;
}

.chart-js-trial {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #fafafa;
    width: 110px;
    height: 15px;
}

.canvasjs-chart-toolbar {
    display: none;
}
.canvasjs-chart-credit {
    display: none;
}