@import "../../../mixins/icons";
@import "../../../base/index";
@import "../../../partials/m/seo-table";

/** ad start **/

.dynamic_ads {
  width: 100%;
  margin: 0 auto;
}

.broadcast {
  max-width: 970px;
  height: 90px;
  margin: 0 auto;
  border: 0px solid #ddd;
  margin-top: 10px;
  display: block;
  text-align: center;
}

/** ad end **/

.clr {
  height: 0px !important;
  line-height: 0 !important;
  float: none !important;
  clear: both !important;
  margin: 0px !important;
  padding: 0px !important;
  border: none !important;
}

body {
  background-color: #fff !important;
  font-family: "Muli-Regular";
  padding: 0px;
  margin: 0px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-stretch: normal;
  font-size: 15px;
}

.content_are {
  width: 1276px;
  margin: 0 auto;
  overflow: hidden;
}

.news_left {
  width: 903px;
  float: left;
  padding-right: 32px;
}

.Page_heading {
  display: block;
}

.Page_heading h1 {
  color: #272a41;
  font-size: 25px;
  padding: 0;
  margin: 0;
  padding: 0 0 20px 0;
}

form {
  display: block;
  margin-top: 0em;
}

.round_btn a {
  width: 270px;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
}

.round_btn a {
  text-transform: uppercase;
  color: #fff;
  font-size: 15px;
  border: 1px solid #fff;
  padding: 10px;
  border-radius: 50px;
  display: block;
  width: 100%;
  text-align: center;
}

img {
  border: 0px;
}

.popcars img {
  width: 100%;
}

.inside_wrapper {
  border: 1px solid map-get($color-map, "whisper");
}

.cars_list {
  overflow: hidden;
  display: block;
}

meta {
  display: none;
}

.cars_list ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.cars_list ul li {
  border-bottom: 1px solid #e8e8e8;
  overflow: hidden;
  padding: 20px 24px 20px 24px;
}

ul li {
  margin: 0;
  padding: 0;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.pagN_bottom {
  display: inline-block;
  overflow: hidden;
  margin: 20px 24px 20px 24px;
  border: 1px solid #e8e8e8;
}
.pagN_bottom a.active {
  background-color: #f07e7c;
  color: white;
  border: 0px solid #4caf50;
}

.pagN_bottom a {
  color: black;
  float: left;
  padding: 8px 18px 8px 18px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 0px solid #ddd;
}

a {
  transition: color 300ms, background-color 300ms;
  text-decoration: none;
  cursor: pointer;
}

.cars_list ul li .left_block {
  float: left;
}
a {
  transition: color 300ms, background-color 300ms;
  text-decoration: none;
  cursor: pointer;
}

a:-webkit-any-link {
  cursor: pointer;
}

.cars_list ul li .right_block {
  float: left;
}

.right_block {
  width: 60%;
  padding-left: 32px;
}

.right_block h2 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-size: 100%;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.right_block h2 a {
  font-size: 22px;
}

.ftrsocialV2 {
  margin: 0;
  overflow: hidden;
  padding: 0 0 40px 0 !important;
}

.row {
  display: block;
  clear: both;
  overflow: hidden;
}

.column:nth-child(1) {
  border-right: 1px solid #e8e8e8;
}

.column {
  float: left;
  width: 49%;
  margin: 13px 0 14px 0;
  box-sizing: border-box;
}

.prc span:nth-child(1) {
  font-size: 15px;
  color: #272a41;
  display: block;
  overflow: hidden;
  padding-bottom: 12px;
}

.rupee_font {
  font-family: Sans-Serif !important;
  letter-spacing: normal;
  font-weight: normal !important;
  display: inline !important;
  margin: 0 !important;
  padding: 0;
}
.prc span:nth-child(2) {
  font-size: 12px;
  color: #92939e;
  display: block;
  overflow: hidden;
}

.launch {
  display: block;
  padding-left: 35px;
}
.launch span:nth-child(1) {
  font-size: 19px;
  color: #272a41;
  display: block;
  overflow: hidden;
  padding-bottom: 7px;
}
.launch span:nth-child(2) {
  font-size: 12px;
  color: #92939e;
  display: block;
  overflow: hidden;
}

.clear {
  clear: both;
  font-size: 0px;
}

.right_block p {
  margin: 0;
  padding: 10px 0 25px 0;
  color: #56586a !important;
  line-height: 20px;
  font-size: 14px;
}

.inside_wrapper .formWrap {
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 30px;
  border-bottom: 1px solid #f0f0f0;
}

.cars_list ul li .left_block img {
  width: 240px;
  height: 135px;
  border: 1px solid #e8e8e8;
}

.news_right {
  width: 340px;
  float: left;
}

.inpad_right {
  border: 1px solid #f0f0f0;
  margin-bottom: 20px;
}
.ad {
  display: block;
  padding: 20px;
}

.tabs_block {
  width: 100%;
  display: block;
  overflow: hidden;
}

.inpad_right .featured_cars_container {
  border: 0px;
  margin-bottom: 0px;
}

.inside_wrapper .filterLabel {
  font-size: 15px;
  color: #92939e;
  line-height: normal;
  top: 8px;
  position: relative;
  padding-right: 11px;
}
label {
  cursor: default;
}
.inside_wrapper .form-control {
  width: 256px;
  color: #56586a;
  font-size: 15px !important;
  border: none;
  border-bottom: 1px solid #ccc;
  box-shadow: none;
  outline: none;
  border-radius: 0px;
  vertical-align: middle;
  margin-left: 0px;
  display: inline-block;
  padding-left: 0px;
  box-sizing: border-box;
  margin-bottom: 0px;
  padding-bottom: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  background: transparent
    url("#{$img-cdn-path}0x0/cw/static/icons/svg/6f6f6f/arrow-down.svg") no-repeat 238px
    19px;
  background-size: 12px auto;
}
.selectDDCust {
  position: relative;
  overflow: visible;
  cursor: pointer;
}

.form-control {
  display: block;
  width: 290px;
  padding: 10px;
  line-height: normal;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: Muli-Regular;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  color: #92939e;
  margin: 0 20px 20px 20px;
}

.contentBlock ul a,
.contentBlock ul li {
  color: #56586a;
  padding: 15px 0 14px;
  border-bottom: 1px solid #efefef;
  background: url(https://d5x4wettsjecf.cloudfront.net/images-mobiles/down_arrow_side.svg)
    right center no-repeat;
  display: block;
}
#blackOutWindow {
  display: none;
  background: #000;
  position: fixed;
  inset: 0;
  z-index: 100;
  opacity: 0.8;
}

/** graphic ad **/

.usedCars-card {
  border-radius: 5px;
  height: 88px;
  background: rgb(241, 128, 126);
  background: linear-gradient(
    90deg,
    rgba(241, 128, 126, 1) 0%,
    rgba(250, 185, 164, 1) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px 24px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  width: auto;
  margin: 0px auto;
}

.usedCars-card .graphic {
  position: absolute;
  top: auto;
  bottom: 0;
  left: auto;
  right: 0;
  margin: auto;
}

.usedCars-card * {
  color: #ffffff;
  font-family: "Muli-Regular";
  font-weight: normal;
  box-sizing: border-box;
}
.usedCars-card h2 {
  font-size: 21px;
  margin: 2px 0;
}
.usedCars-card h3 {
  font-size: 16px;
  margin: 2px 0;
}

.usedCars-card .btn {
  font-size: 15px;
  border: 1px solid #fff;
  border-radius: 24px;
  padding: 10px 20px;
  text-transform: uppercase;
  width: 204px;
  height: 34px;
  top: 0;
  bottom: 0;
  left: auto;
  right: 16.98%;
  margin: auto;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: all 0.2s ease;
}

ul.more_lstt {
  height: 50px !important;
}
ul.other_brands_lst {
  display: block;
  height: auto;
  max-height: 315px;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}
ul.other_brands_lst li {
  border-bottom: 1px solid #e2e2e2;
  font-size: 14px;
  padding: 12px 0 16px 0;
  overflow: hidden;
  margin: 0 10px !important;
}

ul.other_brands_lst li a {
  display: block;
  overflow: hidden;
  color: #272a41;
  font-size: 15px;
}

.pagN_bottom a:hover:not(.active) {
  background-color: #ddd;
}

.no-upcoming-wrapper {
  margin: 16px;
}

.no-upcoming-block {
  border: 1px solid #f7c991;
  border-radius: 3px;
  background-color: #fef7ef;
  padding: 12px;
}

.no-upcoming-text {
  color: #484848;
  line-height: 1.51;
  font-weight: 400;
  font-size: 15px;
}

.news_left {
  width: 764px;
  float: left;
  padding-right: 52px;
}

.content_are {
  width: 1156px;
  margin: 0 auto;
  overflow: hidden;
}

.b_topbrdsV2 ul {
  list-style: none;
  padding-top: 15px !important;
}

/** pagination starts **/

.buttons {
  display: block;
  padding: 20px;
  overflow: hidden;
}

.buttons ul li {
  list-style: none;
}

.buttons ul li a.nxt {
  float: right;
  display: block;
  padding: 5px 31px 5px 31px;
  border-radius: 50px;
  color: #d02326;
  font-size: 15px;
  width: auto;
  text-align: center;
  border: 1px solid #d2d2d5;
}

.buttons ul li a.pre {
  float: left;
  display: block;
  padding: 5px 18px 5px 18px;
  border-radius: 50px;
  color: #d02326;
  font-size: 15px;
  width: auto;
  text-align: center;
  border: 1px solid #d2d2d5;
}

.separator {
  width: 100%;
  height: 20px;
  background: #f0f0f0;
}

/** pagination ends **/

.font-22 {
  font-size: 22px;
}
