.tabs_block {
  width: 100%;
  display: block;
  overflow: hidden;
}

.tabs_wrapper {
  display: flex;
}

.tabs_wrapper p {
  margin: 0;
}

.tabs_column,
.upcoming-head {
  color: #92939e;
  text-align: left;
  height: 63px;
  width: 50%;
  border-bottom: 1px solid #f07e7c;
  cursor: pointer;
  box-sizing: border-box;
  font-size: 14px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 12px;
}

.upcoming-head {
  justify-content: flex-start;
  color: #272a41;
  font-family: "Muli-SemiBold";
}
.tabs_column.current {
  border-bottom: 5px solid #f07e7c;
  color: #272a41;
  font-family: "Muli-SemiBold";
}

.tabs_section {
  display: block;
  overflow-y: scroll;
  height: auto;
  max-height: 293px;
  width: 100%;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

.tabs_section::-webkit-scrollbar {
  width: 5px;
}
.tabs_section::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.tabs_section::-webkit-scrollbar-thumb {
  background: #888;
}
.tabs_section::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.tabs_section .popcars {
  display: flex;
  width: 90%;
  border-bottom: 2px solid #f0f0f0;
  overflow: hidden;
  padding: 6px 0 10px 0px;
  margin: 0 auto;
}

.popcars .left-block {
  display: inline-flex;
  width: 32%;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.popcars .right-block {
  padding: 12px;
  display: inline-block;
  width: 50%;
}

.popular_widget .right-block,
.upcoming_widget .right-block {
  width: 63%;
  padding: 8px;
}
.right-block p {
  font-size: 19px;
  color: #272a41;
  line-height: 20px;
  margin: 6px 0;
}

.right-block a {
  font-size: 15px;
  color: #272a41;
  display: block;
  padding-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: "Muli-Regular";
}

.right-block a:hover {
  color: #e16363;
}

.right-block .model-count {
  color: #92939e;
  font-size: 15px;
}

.left-block a span {
  width: 105px;
  height: 59px;
  background: transparent;
  display: block;
  cursor: pointer;
  background-size: 206px;
}

.in_list .price-detail {
  color: #b2b3ba;
  font-size: 12px;
  padding: 1px 0;
  margin: 0;
}

.sub_btn a {
  color: #d02326;
  display: block;
  font-size: 15px;
  overflow: hidden;
  padding: 11px 14px;
  text-align: left;
  background: #fff url("https://d5x4wettsjecf.cloudfront.net/images4/next_red.svg") 23%
    12px no-repeat;
  background-size: 18px;
  font-weight: normal;
}

.car_head {
  color: #272a41;
  text-align: left;
  padding: 20px 15px;
  width: 100%;
  border-bottom: 1px solid #f07e7c;
  box-sizing: border-box;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
}
