@import "../../scss/mixins/icons";
@import "../../scss/base/typography";
body{
    background-color: white;
}
.broadcast {
    max-width: 970px;
    height: 90px;
    margin: 0 auto;
    border: 0px solid #ddd;
    margin-top: 10px;
    display: block;
    text-align: center
}

.news_left {
    width: 764px;
    float: left;
    padding-right: 52px
}
.nav_mini {
    display: block;
    overflow: hidden;
    padding: 20px 0;
}
.news_right {
    width: 340px;
    float: left
}

.ad {
    display: block;
    padding: 20px;
    min-height: 250px
}

.inpad_right {
    border: 1px solid #f0f0f0;
    margin: 0
}

.Page_heading {
    display: block
}

.Page_heading h1 {
    color: #272a41;
    font-size: 25px;
    padding: 0;
    margin: 0;
    padding: 0 0 20px 0;
    font-family: Muli-Semibold
}

.float_le {
    float: left
}

.inside_wrapper {
    border: 1px solid #f0f0f0;
}
.margin_top_bottom {
    margin-top: 24px;
    margin-bottom: 24PX;
}

.inside_wrapper .formWrap {
    padding: 23px 20px;
    border-bottom: 0px solid #f0f0f0;
    background: #fff8f5;
    display: table;
    width: 94.8%
}

.zero_brdr {
    border: 0
}

.inside_wrapper .filterLabel {
    font-size: 15px;
    color: #56586a;
    line-height: normal;
    float: left;
    padding-right: 40px;
    font-family: Muli-Semibold;
    padding-top: 5px
}

.inside_wrapper .form-control {
    width: 160px;
    color: #56586a;
    font-size: 15px !important;
    border: none;
    border-bottom: 2px solid #c4c4ca;
    box-shadow: none;
    outline: none;
    border-radius: 0px;
    vertical-align: middle;
    margin-left: 0px;
    display: inline-block;
    padding-left: 0px;
    box-sizing: border-box;
    margin-bottom: 0px;
    position: relative;
    padding-bottom: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    background: transparent url("#{$img-cdn-path}0x0/cw/static/icons/svg/6f6f6f/arrow-down.svg") no-repeat 145px 10px;
    background-size: 12px auto
}

.form-control {
    width: 100%;
    color: #56586a;
    font-size: 15px !important;
    border: none;
    border-bottom: 1px solid #ccc;
    box-shadow: none;
    outline: none;
    border-radius: 0px;
    vertical-align: middle;
    margin-left: 0px;
    display: inline-block;
    padding-left: 0px;
    box-sizing: border-box;
    margin-bottom: 0px;
    padding-bottom: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    background: transparent url("#{$img-cdn-path}0x0/cw/static/icons/svg/6f6f6f/arrow-down.svg") no-repeat 235px 10px;
    background-size: 15px auto;
    margin-top: -1px;
    text-align: left
}

.showalertlaunchform input[type='checkbox'],.showalertlaunchform .checktandc label {
    width: auto;
    display: inline-block
}

.showalertlaunchform input[type='checkbox'] {
    vertical-align: text-top
}

.customCB input {
    position: absolute;
    opacity: 0;
    cursor: pointer
}

.checktandc {
    text-align: left;
    padding-top: 50px;
    float: left;
    position: relative;
    width: 50%
}

#exp_tc_er {
    position: absolute;
    width: 100%;
    top: 26px
}

#exp_tc_er > p {
    margin: 0;
    padding: 0;
    line-height: normal;
    width: 85%;
    text-align: left
}

.customCB {
    font-size: 22px;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    position: relative;
    color: #92939e;
    font-size: 12px;
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.checkmark {
    width: 15px;
    height: 15px;
    top: -1px;
    left: 0;
    background-color: transparent;
    border: 1px solid #92939e;
    border-radius: 2px;
    position: absolute
}

.customCB input:checked ~ .checkmark:after {
    display: block
}

.customCB .checkmark:after {
    left: 5px;
    top: 2px;
    width: 3px;
    height: 7px;
    border: solid #92939e;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none
}

.showalertlaunchform .checktandc {
    text-align: left;
    padding-top: 50px
}

.moveRight a {
    color: #92939e;
    font-size: 12px
}

.w_185 {
    width: 185px !important;
    background-position-x: 170px !important
}

.mar_right20 {
    margin-right: 30px
}

.selectDDCust .dropDownWrap {
    height: 215px;
    overflow-y: auto;
    padding: 8px;
    left: 0px;
    top: -85px;
    right: 0px;
    bottom: auto;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 1px 5px -1px rgba(82, 86, 88, 0.41568627450980394);
    z-index: 1
}

.slc_top {
    top: 0px !important
}

.selectDDCust .dropDownWrap::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background-color: #b2b3ba;
    outline: none
}

.selectDDCust .dropDownWrap::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    box-shadow: none
}

.selectDDCust .dropDownWrap .optionLabel {
    font-weight: bold
}

.selectDDCust  .option:hover {
    background-color: #f0f0f0;
    border-bottom: 0px solid #e2e2e2
}

.selectDDCust  .option {
    line-height: normal;
    padding: 12px 12px;
    cursor: pointer;
    border-bottom: 0px solid #e2e2e2
}

.selectDDCust .slctmodel .option:hover {
    background-color: #f0f0f0;
    border-bottom: 0px solid #e2e2e2
}

.selectDDCust .slctmodel .option {
    line-height: normal;
    padding: 12px 12px;
    cursor: pointer;
    border-bottom: 0px solid #e2e2e2
}

.inside_wrapper .go-btn {
    display: inline-block;
    border-radius: 22px;
    border: 1px solid #d02326;
    padding: 10px 50px;
    width: auto;
    font-size: 15px;
    color: #fff;
    vertical-align: middle;
    cursor: pointer;
    top: 0px;
    position: relative;
    transition: 0.2s;
    background: #d11900;
    text-transform: uppercase;
    font-family: 'Muli-Semibold';
    font-weight: bold;
    margin-left: 24px
}

input {
    outline: none !important
}

.inside_wrapper .go-btn:hover {
    color: #d11900;
    background-color: #fff
}

.w_227 {
    width: 265px !important;
    margin-right: 20px
}

.w_216 {
    width: 216px !important;
    background: transparent !important;
    color: #d02326 !important;
    border: 0 !important;
    font-size: 17px !important;
    font-family: Muli-Semibold !important;
    margin-left: -35px
}

.v_aln {
    vertical-align: top !important
}

.model_top_blk {
    background: none
}

.model_top_blk {
    width: 100%;
    background: #fff;
    margin-top: 24px
}

.content_are.foldout {
    width: 100%
}

.foldout {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 1px
}

.foldout {
    border: 0px solid #f0f0f0;
    box-shadow: none !important;
    box-sizing: border-box;
    min-height: 205px;
    position: relative;
    border-radius: 4px;
    padding: 0px 20px 0px 20px;
    background: #ffffff;
    margin-bottom: 20px
}

.model_top_blk .content_are .colm300,.model_top_blk .content_are .colm620 {
    display: table-cell;
    vertical-align: middle
}

.model_top_blk .table_frmt .colm300,.model_top_blk .table_frmt .colm620 {
    display: table-cell;
    vertical-align: middle
}

.table_frmt {
    padding: 24px 24px 24px 0
}

.w_ato {
    width: 345px;
    text-align: center;
    margin-right: 40px;
    bottom: -34px;
    position: relative
}

.onRdPrcform {
    display: block
}

.onRdPrcformblk .onRdPrcblkTitle {
    color: #dd1100;
    font-size: 20px;
    line-height: 20px;
    float: left;
    width: 100%;
    display: block;
    margin-bottom: 10px
}

.onRdPrcform label {
    display: inline-block;
    margin-right: 32px
}

.labelTitle {
    padding-bottom: 4px;
    display: block
}

.btmformBoxCol .var_on_btn {
    border-radius: 0px;
    font-size: 16px !important;
    padding: 8px 12px !important;
    width: auto !important
}

.popularNewCarsGallery,.recentLaunchCarsGallery {
    margin: 24px 0px;
    border: 1px solid #f0f0f0
}

.ver_ttl {
    padding: 0px 10px;
    border-left: 5px solid #fc1325;
    font-size: 22px;
    line-height: 24px;
    color: #262626;
    font-family: 'Muli-SemiBold';
    font-weight: normal;
    margin-bottom: 0px;
    text-transform: capitalize;
    position: relative
}

.var_view {
    font-size: 12px;
    float: right;
    padding-top: 1px
}

.ver_srch {
    display: block
}

.ver_fndurcar {
    float: left;
    width: 515px;
    margin-right: 2px;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    height: 86px
}

.ver_sechrt {
    float: left;
    width: 240px;
    margin-right: 3px;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    height: 86px
}

.ver_slct-btn {
    display: table
}

.ver_inpselt {
    float: left;
    width: 310px;
    margin-right: 3px
}

.ver_serbtn {
    float: left;
    width: 200px
}

.ver_fndct-title {
    font-size: 16px;
    color: #16221f;
    margin-bottom: 17px
}

.ver_slct {
    width: 310px;
    height: 46px;
    border: none;
    padding: 10px 10px 10px 30px;
    font-size: 16px !important;
    color: #16221f !important
}

.ver_img_sldr,.ver_img_sldr6,.ver_img_sldr3,.ver_img_sldr4 {
    width: 100%;
    margin: 0px auto;
    padding: 0px;
    position: relative;
    overflow: -moz-hidden-unscrollable;
    overflow: hidden
}

.ver_in_img_sldr,.ver_in_img_sld6,.ver_in_img_sld3,.ver_in_img_sld4 {
    width: 100%;
    overflow: hidden;
    position: relative
}

.ver_img_sldr ul,.ver_img_sldr6 ul,.ver_img_sldr3 ul,.ver_img_sldr4 ul {
    transition: all 0.3s linear;
    padding: 0px;
    overflow: hidden
}

.ver_img_sldr ul li,.ver_img_sldr6 ul li,.ver_img_sldr3 ul li,.ver_img_sldr4 ul li {
    float: left;
    padding: 0px;
    width: 237px;
    list-style-type: none;
    border: 0px solid #cfcfcf
}

.ver_pup-blk-3,.ver_pup-blk-4 {
    float: left;
    width: 227px;
    box-sizing: border-box;
    height: 348px;
    border: 1px #e1e1e1 solid;
    background: #ffffff
}

.ver_pup-blk-4 {
    margin: 0px 16px
}

.ver_pp-bkh {
    height: auto;
    margin: 0px;
    margin: 2px;
    border: 1px solid #f0f0f0;
    box-shadow: 0px 1px 2px 0px rgba(148, 148, 148, 0.2549019607843137)
}

.ver_pup-blk-3,.ver_pup-blk-4 {
    height: auto !important
}

.ver_shimg-out {
    height: auto
}

.ver_crimg {
    text-align: center
}

.ver_img_blk {
    display: block;
    text-align: center;
    overflow: hidden
}

.ver_crimg img {
    width: 100%;
    overflow: hidden;
    padding-top: 10px;
    height: 141px
}

.ver_rcar-det {
    padding: 0;
    margin: 18px auto 0px 0px;
    font-size: 18px;
    width: 100%
}

.ver_onlakd1 {
    font-size: 20px;
    font-weight: bold;
    color: #2a2a2a
}

.ver_onlakd1 .rupee {
    height: 16px;
    width: auto
}

.ver_exShowroom {
    color: #ccc;
    font-size: 14px;
    display: block;
    padding: 10px 0 5px 0
}

.ver_onRdPrice .ver_on_btn {
    margin-top: 12px;
    width: 100%;
    height: 45px;
    border-radius: 0px;
    font-size: 17px !important;
    color: #e51e20;
    border: 1px solid #e51e20;
    box-shadow: 0 0 8px #bbb;
    cursor: pointer
}

.ver_onRdPrice .ver_on_btn:hover {
    color: #fff;
    background-color: #ff4633;
    border: 1px solid #ff4633
}

.ver_onRdPrice .ver_on_btn:active {
    color: #fff;
    background-color: #e51e20;
    border: 1px solid #e51e20
}

.var_upc_tit {
    display: block;
    margin-bottom: 0px
}

.ver_cr-tit1 a {
    color: #575756;
    text-decoration: none;
    font-size: 18px
}

img {
    max-width: 100%
}

.ver_onlakd1 span {
    font-size: 14px;
    font-weight: normal;
    color: #2a2a2a
}

.ver_prev {
    position: absolute;
    top: 34%;
    left: -22px;
    width: 40px !important;
    height: 60px !important;
    font-size: 0px;
    z-index: 1
}

.ver_next {
    position: absolute;
    top: 34%;
    right: -15px;
    width: 40px !important;
    height: 60px !important;
    z-index: 1;
    font-size: 0px
}

.disabled,.disabled2 {
    background: none !important
}

.ver_prev,.ver_next {
    width: 40px !important;
    height: 40px !important;
    box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.3);
    border-radius: 50%
}

a:hover {
    color: #d43133;
    text-decoration: none;
    outline: none
}

.ver_srch .ver_prev,.ver_srch .ver_next {
    top: 50% !important;
    margin-top: -75px
}

.font_20 {
    font-size: 20px !important
}

.rupee_font {
    font-family: Sans-Serif !important;
    letter-spacing: normal;
    font-weight: normal !important;
    display: inline !important;
    margin: 0 !important;
    padding: 0
}


.hover_span {
    background: #cc0000 none repeat scroll 0 0;
    bottom: 0;
    height: 0;
    left: 0;
    position: absolute;
    transition: all 0.05s linear 0s;
    width: 100%
}

.btn_txt {
    position: relative;
    transition-duration: 0s;
    z-index: 10;
    font-family: Muli-Semibold
}

.ver_btnt1:hover .hover_span {
    height: 100%
}

.ver_btnt1:hover .btn_txt {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px
}

.c_lnk a {
    padding: 15px;
    color: #d02326;
    text-align: center;
    font-size: 15px;
    width: 100%;
    overflow: hidden;
    display: block;
    font-weight: normal;
    font-family: 'Muli-Regular';
    text-decoration: none !important;
    box-sizing: border-box
}

.c_lnk .txt {
    text-align: left;
    font-family: 'Muli-Regular';
    display: inline-block;
    width: 86%;
    vertical-align: text-top;
    margin-top: -3px
}

.content_are.btmMrg {
    margin-top: 4px
}

.content_are .upcomingCarsSlider .popularNewCarsGallery {
    padding: 0px 24px 24px
}

.content_are .similarCarsSlider .popularNewCarsGallery .ver_ttl {
    border-left: none;
    margin-left: 0;
    padding-left: 0;
    padding-top: 32px;
    margin-top: 0px
}

.content_are .similarCarsSlider.scs .popularNewCarsGallery .ver_ttl {
    margin-left: -14px
}

.content_are .similarCarsSlider .popularNewCarsGallery #inn-box-4 {
    width: auto !important
}

.ver_shimg-out {
    width: 100%;
    height: 379px
}

.ver_pup-blk-4 {
    width: 252px
}

.ver_img_sldr4 ul li {
    width: auto;
    padding-right: 9px
}

.ver_cr-tit1 {
    min-height: 30px;
    padding-left: 15px;
    padding-right: 15px;
    overflow: hidden
}

.ver_cr-tit1 .var_upc_tit {
    color: #56586a;
    font-size: 15px;
    font-family: 'Muli-Regular';
    display: block;
    overflow: hidden;
    min-height: 32px
}

.ver_in_img_sld4 {
    width: 100% !important
}

.ver_exShowroom {
    color: #b2b3ba;
    font-size: 12px;
    font-family: 'Muli-Regular';
    padding: 2px 0 10px 15px;
    display: block
}

.ver_onlakd1,.ver_onlakd1 span {
    font-size: 20px;
    color: #272A42;
    min-height: auto;
    font-family: 'Muli-SemiBold'
}

.ver_onlakd1 {
    padding-left: 15px;
    padding-top: 4px
}


.content_are .usedCarsSlider .popularNewCarsGallery .ver_shimg-out {
    height: 268px
}

.content_are .usedCarsSlider .popularNewCarsGallery .allusedCars {
    color: #d02326;
    font-size: 15px;
    font-family: Muli-regular;
    padding-top: 12px;
    display: block
}

.transparentbg {
    background: #56586a;
    opacity: .9;
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999999
}

.focus_text_pop {
    font-size: 12px;
    color: #56586a;
    line-height: normal;
    padding: 0;
    margin: 0;
    font-family: "Muli-Regular";
    margin-block-start:0;margin-block-end:0;position: absolute;
    top: -20px;
    display: none
}

.stripform {
    box-shadow: none;
    display: none;
    height: auto;
    left: 50%;
    margin: 0 0 0 -350px;
    position: fixed;
    right: 50%;
    top: 25%;
    width: 670px;
    z-index: 99999999;
    background-color: #fff
}

.close-btn {
    display: inline-block;
    position: absolute;
    right: -35px;
    top: 0;
    padding: 0px;
    cursor: pointer
}

.close-btn img {
    padding: 9px 11px 6px;
    margin: 0px;
    line-height: normal
}

.pop_title {
    padding-bottom: 24px;
    display: block;
    color: #272a41;
    font-size: 19px;
    font-family: Muli-Regular;
    position: relative;
    margin: 0;
    text-align: left
}

.innercfa {
    padding: 40px 57px
}

.subTitle {
    font-weight: normal;
    text-align: left;
    font-size: 17px;
    color: #333;
    margin: 0px;
    padding-bottom: 16px
}

.tbl_grd {
    display: block;
    width: auto
}

.sngl_input {
    width: 255px;
    position: relative;
    display: inline-block;
    margin-top: 5px;
    margin-right: 40px;
    padding-bottom: 9px
}

.tbl_grd .sngl_input:nth-child(3) {
    margin-right: 0
}

.tbl_grd .sngl_input:nth-child(5) {
    margin-right: 0;
    position: relative;
    top: 17px
}

.tbl_grd .sngl_input:nth-child(4) {
    position: relative;
    top: 5px
}

.er_msg {
    position: relative;
    top: -37px
}

#exp_make_er,#exp_model_er {
    top: -10px;
    position: relative
}

.w_243 {
    width: 243px !important;
    margin-top: 15px;
    position: relative;
    left: -15px
}

.sngl_input input[type="text"] {
    border-bottom: 1px #92939e solid
}

.sngl_input .inpbox {
    color: #56586a;
    width: 100% !important;
    font-size: 15px !important;
    padding: 15px 0 8px 0 !important;
    font-family: Muli-Regular;
    box-shadow: none;
    outline: none
}

.sngl_input input[type="text"] {
    border-bottom: 1px #a8afb3 solid
}

.sngl_input input,textarea {
    padding: 10px 0 10px 0;
    border: 0;
    width: auto;
    font-size: 14px;
    border-bottom: 1px #cecece solid
}

input[type="text"],textarea {
    border: 0px solid rgb(231, 107, 107)
}

input[type="text"],textarea,select {
    transition: all 0.3s ease-in-out;
    outline: none
}

select,input[type="text"] {
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    line-height: normal
}

.effect-17 {
    border: 0;
    padding: 0 0 7px 0;
    border-bottom: 1px solid #ccc !important;
    background-color: transparent
}

.effect-17:focus ~ label,.has-content.effect-17 ~ label {
    top: -25px !important;
    font-size: 12px;
    transition: 0.3s
}

input {
    outline: none !important
}

.fad_box .sngl_input label {
    color: #82888b;
    padding: 15px 0px 0px 0;
    position: absolute;
    top: 0px;
    left: 0;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
    pointer-events: none;
    font-size: 14px
}

.sngl_input label {
    color: #92939e;
    padding: 21px 0px 0px 0;
    position: absolute;
    top: -5px;
    left: 0;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
    pointer-events: none;
    font-size: 14px
}

.sngl_input input ~ span,textarea ~ span {
    display: block;
    width: 0;
    height: 1px;
    background: #56586a;
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transition: all .125s ease;
    transition: all .125s ease
}

.sngl_input input ~ span,textarea ~ span {
    display: block;
    width: 0;
    height: 2px;
    background: #92939e;
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transition: all .125s ease;
    transition: all .125s ease
}

.selectDDCust {
    position: relative;
    overflow: visible;
    cursor: pointer;
    float: left;
    top: 8px
}

.focus_text {
    font-size: 12px;
    color: #56586a;
    line-height: normal;
    padding: 0;
    margin: 0;
    font-family: "Muli-Regular";
    margin-block-start:0;margin-block-end:0;position: absolute;
    top: -20px
}

#loder_img {
    background: #D21900;
    border-radius: 5px;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    height: 100px;
    left: 50%;
    margin-left: -150px;
    margin-top: -100px;
    padding: 30px 50px;
    position: fixed;
    top: 50%;
    width: 100px;
    z-index: 9999
}

.chk_red {
    border: 1px solid #e16363
}

.no_style {
    padding: 0;
    margin-bottom: 0 !important
}

.selectDDCust .defaultVal {
    color: #92939e
}

.selectDDCust .dropDownWrap {
    height: 170px;
    overflow-y: auto;
    padding: 8px;
    left: 0px;
    right: 0px;
    bottom: auto;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 1px 5px -1px rgba(82, 86, 88, 0.41568627450980394);
    z-index: 111;
    top: 0px
}

.selectDDCust .dropDownWrap .optionLabel {
    font-weight: bold
}

.selectDDCust  .option {
    line-height: normal;
    padding: 9px 12px;
    cursor: pointer;
    color: #565a5c
}

input {
    outline: none !important
}

.er_msg_ri {
    top: 46px;
    color: #e16363;
    position: absolute;
    font-size: 12px
}

.var_on_btn,.askExpertNew .var_on_btn {
    border-radius: 24px;
    background-color: #cf2225;
    border: 1px solid #cf2225;
    box-shadow: none;
    padding: 10px !important;
    font-size: 15px;
    width: auto;
    line-height: normal;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    text-align: center !important;
    transition: all 0.2s;
    font-family: Muli-Semibold
}

.w_auto img {
    width: 230px;
    height: 130px;
    padding-right: 20px
}

.w_auto {
    padding-right: 20px
}

.b_cartitle {
    font-family: Muli-Semibold;
    font-size: 22px;
    color: #56586a;
    line-height: 20px;
    padding-bottom: 35px;
    padding-top: 17px
}

.title_gap {
    font-size: 22px;
    line-height: 24px;
    color: #262626;
    font-family: 'Muli-SemiBold';
    text-transform: capitalize;
    position: relative;
    padding: 32px 24px 18px 24px;
    margin: 0
}

.up_slider {
    width: 93.5%;
    margin: 0 auto;
    padding: 0 24px 24px 24px
}

.var_on_btn:hover,.askExpertNew .var_on_btn:hover {
    color: #cf2225;
    background-color: #fff;
    border: 1px solid #cf2225
}

.selectDDCust .dropDownWrap::-webkit-scrollbar {
    width: 3px;
    border-radius: 12px
}

.selectDDCust .dropDownWrap::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background-color: #b2b3ba;
    outline: none
}

.selectDDCust .dropDownWrap::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    box-shadow: none
}

.ct_buyersblk {
    display: block;
    padding: 0 0px 22px 24px;
    box-sizing: border-box;
    overflow: hidden
}

.foldout_clr {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 1px
}

.foldout_clr {
    border: 1px solid #f0f0f0;
    box-sizing: border-box;
    margin: 0px auto;
    position: relative;
    border-radius: 4px;
    padding: 0px 15px 20px 15px;
    background: #ffffff;
    display: inline-flex;
    width: 357px;
    margin-right: 15px;
    min-height: 300px
}

.ct_drkgraybar {
    border: medium none;
    color: #272a41;
    font-size: 22px;
    padding: 37px 0px 0 0px;
    font-family: Muli-SemiBold
}

ul {
    list-style: none;
    padding: 0;
    margin: 0
}

.ul_dis_tbl li.widgetBox {
    width: 265px;
    -moz-box-shadow: 0 1px 4px 0 rgba(53, 39, 42, 0.2549019607843137);
    -webkit-box-shadow: 0 1px 4px 0 rgba(53, 39, 42, 0.2549019607843137);
    box-shadow: 0 1px 4px 0 rgba(53, 39, 42, 0.2549019607843137);
}

.titlebar_on {
    color: #56586a;
    font-size: 19px;
    padding: 25px 0 0px 0;
    min-height: 52px;
    height: auto;
    font-family: Muli-SemiBold;
    margin: 0
}

.ul_dis_tbl li:nth-child(1) h4 {
    background: url("#{$img-cdn-path}/0x0/ct/static/icons/svg/b-ex-reviews-1.svg") -0px 21px no-repeat;
    padding-left: 54px
}

.ul_dis_tbl li:nth-child(2) h4 {
    background: url("#{$img-cdn-path}/0x0/ct/static/icons/svg/b-other-brochure.svg") 6px 20px no-repeat;
    padding-left: 57px;
    background-size: 38px
}

.ul_dis_tbl li:nth-child(3) h4 {
    background: url("#{$img-cdn-path}/0x0/ct/static/icons/svg/b-upcoming-cars.svg") 4px 24px no-repeat;
    padding-left: 66px;
    background-size: 50px
}

.on_list ul {
    list-style: none;
    margin-top: 0px
}

.ct_buyersblk ul {
    list-style: none
}

.footerTitle a {
    color: #d02326 !important;
    font-size: 15px !important;
    font-family: Muli-Regular !important;
    display: block;
    padding-top: 5px
}

.right_block h2 a:hover {
    color: #e16363
}

.view_port a {
    font-size: 15px;
    color: #56586a;
    font-family: Muli-SemiBold
}

a {
    text-decoration: none;
    cursor: pointer
}

.on_list ul li {
    display: block;
    margin: 0;
    padding-bottom: 14px;
    width: auto
}

.on_list ul li a:hover {
    color: #e16363
}

.w_20 {
    width: 20px !important
}

@media screen and (min-width: 1024px) and (max-width:1279px) and (-ms-high-contrast:active) and (-ms-high-contrast:none) {
    .exp_rev {
        background-position-y:200px
    }

    .w_auto img {
        width: 170px
    }

    .ul_dis_tbl li:nth-child(2) h4 {
        background: url("#{$img-cdn-path}/0x0/ct/static/icons/svg/b-other-brochure.svg") -35px 20px no-repeat;
        padding-left: 50px;
        background-size: 44%
    }

    .ul_dis_tbl li:nth-child(3) h4 {
        background: url("#{$img-cdn-path}/0x0/ct/static/icons/svg/b-upcoming-cars.svg") -25px 24px no-repeat;
        padding-left: 65px;
        background-size: 41%
    }
}

@media screen and (min-width: 1300px) and (max-width:1480px) and (-ms-high-contrast:active) and (-ms-high-contrast:none) {
    .ul_dis_tbl li:nth-child(2) h4 {
        background:url("#{$img-cdn-path}/0x0/ct/static/icons/svg/b-other-brochure.svg") -35px 20px no-repeat;
        padding-left: 50px;
        background-size: 44%
    }

    .ul_dis_tbl li:nth-child(3) h4 {
        background: url("#{$img-cdn-path}/0x0/ct/static/icons/svg/b-upcoming-cars.svg") -25px 24px no-repeat;
        padding-left: 65px;
        background-size: 41%
    }
}

@media screen and (min-width: 1580px) and (max-width:2000px) and (-ms-high-contrast:active) and (-ms-high-contrast:none) {
    .ul_dis_tbl li:nth-child(2) h4 {
        background:url("#{$img-cdn-path}/0x0/ct/static/icons/svg/b-other-brochure.svg") -35px 20px no-repeat;
        padding-left: 50px;
        background-size: 44%
    }

    .ul_dis_tbl li:nth-child(3) h4 {
        background: url("#{$img-cdn-path}/0x0/ct/static/icons/svg/b-upcoming-cars.svg") -25px 24px no-repeat;
        padding-left: 65px;
        background-size: 41%
    }
}

.ie9 img[src$=".svg"] {
    width: 100%
}

@media screen and (-ms-high-contrast: active),(-ms-high-contrast: none) {
    .footer_logos a img[src*='.svg'] {
        width: 100%
    }

    .exp_rev {
        background-position-y: 184px
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    .content_are {
        width:1156px;
        margin: 0 auto;
        overflow: hidden
    }
}

@media (min-width: 1024px) and (max-width:1279px) {
    .content_are {
        width:940px !important
    }

    .news_left {
        width: 600px !important;
        float: left;
        padding-right: 20px
    }

    .news_right {
        width: 320px !important;
        float: left
    }

    .foldout_clr {
        width: 31%
    }

    .sm-12 {
        float: none;
        display: block;
        overflow: hidden;
        clear: both;
        padding-top: 50px;
        text-align: center;
        width: 100%
    }

    .w_216 {
        width: 185px !important
    }

    .w_227 {
        width: auto !important;
        margin-right: 0
    }
}

@media (min-width: 1024px)
{
.content_are {
    width: 1156px;
    margin: 0 auto;
    overflow: hidden;
}
}
.popularNewCarsGallery .jcarousel-wrapper{
    padding: 0px 24px 24px 24px;
}

.ver_rcar-det .compare_with .left img{
    width: 13px !important;
}