.summary h2 {
    display: table-cell;
    padding: 20px 20px 10px 20px;
    font-size: 19px;
    color: #272a41;
    font-family: Muli-Bold;
    vertical-align: middle;
    width: 70%;
}

.min_synopsis {
    height: 114px;
    overflow: hidden;
}

.summary p {
    color: #272a41;
    font-size: 15px;
    margin: 0;
    text-align: inherit;
    line-height: 25px;
    padding: 0 20px 20px;
}

.summary strong {
    font-size: 17px;
}

.about-read-more {
    color: #e16363;
    overflow: hidden;
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: bold;
    text-align: right;
    padding: 10px 20px 0;
}