.popularExpertComp .compareTitle {
    padding-bottom: 12px;
}

.popularExpertComp .compareTitle {
    padding-top: 7px;
}

.pecBlk.brdTop:not(:first-of-type) {
    border-top: 1px solid #e8e8e8;
}

.pecBlk {
    text-align: center;
}

.pecImg {
    display: inline-block;
    width: 39.029%;
    vertical-align: middle;
}

.pecBlk > .vs {
    display: inline-block !important;
}

.desc {
    color: #56586a;
    font-size: 13px;
    text-align: center;
    margin: 12px 0px 0px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e8e8e8;
}