.blk {
  overflow: hidden;
}

.logo_brnds {
  float: left;
  height: auto;
  margin-top: 10px;
  text-align: center;
  width: 150px;
  border: 1px solid #cfcfcf;
  margin: 2px;
  padding: 20px 0;
}

.brand_image {
  width: 100px;
  height: 60px;
  margin-left: 25px;
  margin-right: 25px;
}

.mre_brnds_dis {
  transition: initial;
}

.dis_none {
  display: none;
  overflow: hidden;
}

.view_hd_btn {
  text-align: center;
  margin: 0 auto;
  overflow: hidden;
  padding: 25px 20px 0;
}

.view_m_brnd {
  box-shadow: 0 0 8px #bbb inset;
  margin: 0 auto;
  padding: 15px 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  width: 125px;
  display: block;
}
