body    {
    background: #fff;
}

#makeOverallTabsWrapper {
    position: sticky;
    top: 0;
    z-index: 99990;
}

.overall-specs-tabs-container {
    width: 100%;
    display: block;
    background: rgb(255, 255, 255);
    overflow-x: scroll;
    z-index: 6;
    box-shadow: rgb(225, 225, 225) 0px 3px 3px;
}
.overall-specs-tabs-container::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
.overall-specs-tabs-container::-webkit-scrollbar-thumb,
.overall-specs-tabs-container::-webkit-scrollbar-track {
    display: none;
}
.overall-specs-tabs-container.fixed-tab-nav {
    position: fixed;
    top: 0px;
    left: 0px;
}

.overall-specs-tabs-wrapper {
    width: 100%;
    display: table;
    border-bottom: 1px solid rgb(226, 226, 226);
    border-top: 1px solid rgb(226, 226, 226);
    background: rgb(255, 255, 255);
    margin: 0px;
    padding: 0px;
}
.overall-specs-tabs-wrapper li {
    font-size: 13px;
    padding: 12px 16px;
    display: table-cell;
    text-align: center;
    white-space: nowrap;
    color: rgb(86, 88, 106);
    cursor: pointer;
    text-transform: uppercase;
}
.overall-specs-tabs-wrapper li.active {
    border-bottom: 3px solid rgb(240, 126, 124);
}
  
.overall-specs-tabs-wrapper li a {
    text-decoration: none;
    color: rgb(86, 88, 106);
}

h1 {
    font-size: 21px;
    color: #272a41;
    font-family: 'Muli-Regular';
    margin-left: 16px;
    padding-bottom: 16px;
    margin-bottom: 0;
    font-weight: 500;
}

.car-details-container {
    width: 100%;
    display: flex;
    background-color: #fff;
    border-bottom: 1px solid rgb(226, 226, 226);
}

.car-details-img {
    width: 131px;
    height: 74px;
    margin: 25px 12px 25px 16px;
}

.car-details {
    width: 100%;
}

.car-details p {
    margin: 0;
}

.top-add    {
    height: 50px;
    margin: 16px 20px;
}

.review-container   {
    padding: 16px;
}

.overall_review {
    border-top: 1px solid #e8e8e8;
    padding: 16px;
}

.overall_review h2  {
    color: #272a41;
    font-size: 16px;
}

.overall_box    {
    background: #f5f5f5;
    border: 1px solid #e8e8e8;
    padding: 16px;
}

.big-rate-value {
    color: #484848;
    font-size: 18px;
}

.big-rating {
    color: #aaaaaa;
    font-size: 14px;
}

.row    {
    display: flex;
    flex-direction: row;
}

.col    {
    display: flex;
    flex-direction: column;
}

.star-icon  {
    width: 24px;
}

.back_bar   {
    width: 112px;
    height: 4px;
    border-radius: 3.5px;
    display: block;
    background: #d5d5d5;
    margin: 5px 8px;
}

.value_bar   {
    width: 0px;
    height: 4px;
    border-radius: 3.5px;
    display: block;
    background: #00afa0;
}

.rate_bar > .star_no > .star-icon {
    width: 12px;
    margin-left: 4px;
}

.percent    {
    color: #56586a;
    font-size: 11px;
}

.review-count   {
    color: #0288d1;
    font-weight: bold;
    font-size: 13px;
    margin-top: 8px;
}

.review_box {
    justify-content: space-between;
}

.total-review   {
    padding: 15px 17px 0px 16px;
}

.rating_circles {
    padding: 14px;
    justify-content: space-evenly;
    background: #f5f5f5;
    border: 1px solid #e8e8e8;
}

.rate_name   {
    font-size: 13px;
    margin: auto;
    padding: 6px 0;
    color: #56586a;
}

.rate_col   {
    width: 33.33%;
}

.rate_circle    {
    margin: auto;
}

.write_review   {
    border: 1px solid #d02326;
    color: #d02326;
    font-size: 15px;
    text-align: center;
    margin: 0 16px;
    padding: 11px 0 10px 0;
    border-radius: 3px;
}