.mileage-form-container {
  position: relative;
  background-color: #fff;
  width: 340px;
  float: left;
  border: 1px solid #f6f6f6;
}
.mileage-form__count {
  position: absolute;
  right: 16px;
  font-size: 12px;
  color: #92939e;
  padding: 18px 9px 0px 9px;
}
.mileage-form__count span {
  font-size: 15px;
  color: #56586a;
}
.form-container__content {
  overflow: hidden;
  height: 0;
}
.active.form-container__content {
  height: unset;
}
.mileage-form__title {
  color: #272a41;
  font-size: 19px;
  font-weight: 500;
  padding: 18px 9px 0px 9px;
}
.mileage-form_input {
  position: relative;
  margin-top: 40px;
  min-height: 40px;
  padding: 0px 9px;
}
.mileage-form_input:first-child {
  margin-top: 34px;
}
.mileage-form_input input,
textarea {
  padding: 10px 0px;
  border-radius: 0;
  border-width: 0px 0px 1px;
  width: auto;
  font-size: 14px;
  border-bottom-style: solid;
  border-bottom-color: rgb(206, 206, 206);
}
.mileage-form_input select.mileage_inpbox {
  border-top: none;
  border-right: none;
  border-left: none;
  border-image: initial;
  border-bottom: 1px solid rgb(146, 147, 158);
  -webkit-appearance: none;
  outline: none;
  background: url(https://d5x4wettsjecf.cloudfront.net/images-mobiles/down_arrow_18.svg)
    98.5% 24px / 12px no-repeat transparent;
}
.mileage-form_input .mileage_inpbox {
  width: 100% !important;
  font-size: 14px !important;
  padding: 15px 0px 8px;
}
.mileage-form_input .mileage_inpbox:focus {
  outline: none;
}
.mileage-form_input label {
  color: rgb(146, 147, 158);
  padding: 15px 0px 0px;
  position: absolute;
  top: 0px;
  left: 0px;
  transition: all 0.25s ease 0s;
  pointer-events: none;
  font-size: 14px;
}

.mileage_er_msg {
  position: relative;
  display: none;
  width: 100%;
  color: rgb(225, 99, 99);
  overflow: hidden;
  font-size: 12px;
  padding: 4px 0px 0px;
}

.er_msg_ri {
  float: left;
  display: block;
  padding: 7px 0px 0 0px;
  font-size: 12px;
}

.disp_block {display:block !important;}
.disp_blk {display:block !important;}
.disp_none {display:none !important;}

.mileage_er_msg.error-active {
  display: inline-block;
}
.mileage_er_msg span {
  display: none;
}
.mileage_er_msg span.active {
  display: inline-block;
}
.mileage-form__input-unit {
  color: #272a41;
  font-size: 15px;
  position: absolute;
  top: 14px;
  right: 0;
  padding-left: 9px;
  padding-right: 9px;
}
.mileage-maintance-cost .mileage-form__input-unit {
  left: 0;
  right: unset;
}
.mileage-form_input.mileage-maintance-cost label,
.mileage-form_input.mileage-maintance-cost input {
  padding-left: 17px;
}
.mileage-form_input label.label-active {
  top: -18px;
  font-size: 12px;
  padding-left: 0px;
}
.js-mileage-continue,
.js-mileage-submit {
  background-color: #d02326;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  padding: 11px;
  width: 100%;
  margin-top: 35px;
  text-align: center;
  border-radius: 3px;
  margin-bottom: 0;
  cursor: pointer;
}

.overall-specs-tabs-container::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
.overall-specs-tabs-container::-webkit-scrollbar-thumb,
.overall-specs-tabs-container::-webkit-scrollbar-track {
  display: none;
}
// rating
.answer-star-list > input:checked + label,
.answer-star-list > input:checked ~ label {
  background: url(https://imgd.aeplcdn.com/0x0/cw/static/icons/svg/00afa0/star.svg)
    no-repeat;
}
.star-zero {
  background: url(https://imgd.aeplcdn.com/0x0/cw/static/icons/m/star-0.png)
    no-repeat;
  cursor: pointer;
  background-size: cover;
}
#feedbackTitle {
  font-size: 16px;
  font-weight: bold;
  color: #272a41;
}

.feedback-2 {
  opacity: 0.6;
}

.feedback-1,
.feedback-2 {
  background: url(https://imgd.aeplcdn.com/0x0/cw/static/icons/m/thumbs-down-red.png)
    no-repeat;
  position: relative;
}

.feedback-1,
.feedback-2,
.feedback-3,
.feedback-4,
.feedback-5 {
  width: 26px;
  height: 25px;
  display: inline-block;
}
.feedback-3,
.feedback-4,
.feedback-5 {
  background: url(https://imgd.aeplcdn.com/0x0/cw/static/icons/m/thumbs-up-teal.png)
    no-repeat;
}
.feedback-0,
.star-one,
.star-one-active .star-zero {
  background: url(https://imgd.aeplcdn.com/0x0/cw/static/icons/svg/star-outline.svg?06072021)
    no-repeat;
}
.feedback-3,
.feedback-4,
.feedback-5 {
  background: url(https://imgd.aeplcdn.com/0x0/cw/static/icons/m/thumbs-up-teal.png)
    no-repeat;
}

.feedback-3 {
  opacity: 0.4;
}

.feedback-4 {
  opacity: 0.6;
}
#rateCarQuestion input:focus ~ .floating-label,
#rateCarQuestion input:not(:focus):valid ~ .floating-label {
  top: -10px;
  left: 0;
  font-size: 10px;
}
.rating-placeholder .answer-star-list > input + label {
  width: 20px;
  margin-right: 16px;
  float: right;
}

// rating section
.crcl_str {
  width: 52px;
  height: 52px;
  display: block;
  position: absolute;
  top: -26px;
  background: #fff;
  border-radius: 50%;
  left: 50%;
  border: 1px solid #e8e8e8;
  transform: translateX(-50%);
}

.white-star-icon {
  position: relative;
  top: 14px;
  left: 14px;
}

.dynmic_rating {
  display: block;
  min-height: 142px;
  margin-top: 0px;
  position: relative;
  background: #f6f6f6;
}
.dynmic_rating .rateTitle {
  text-align: center;
  display: block;
  font-size: 18px;
  color: #272a41;
  padding-top: 44px;
  font-family: Muli-Semibold;
}
.select_star {
  padding: 0px;
  text-align: center;
}
.select_star img {
  width: 20.4px;
  margin: 0 6px;
}
.ratings-blk .fieldouter {
  margin-bottom: 30px;
}
.ratings-blk .ratings {
  float: right;
  padding: 0px 10px;
}
.ratings-blk .frmtitle {
  font-size: 16px;
  float: left;
  padding: 0 10px 10px;
  color: #272a41;
}
.rateText {
  padding: 0;
  margin: 0;
}
#rate_your_car {
  padding-left: 0px;
}
#rate_your_car.turn {
  background-position: 98%;
}
.rate-car-panel {
  margin-top: 44px;
}
.ratings-blk .select_star img {
  margin: 0px 2px;
}
.rateSubTitle {
  font-size: 13px;
  color: #56586a;
  text-align: center;
  margin-bottom: 16px;
}
.dealer_panel p {
  padding: 10px 0px;
  text-align: center;
}
.mileage-form_subdiv {
  padding-left: 5px;
}
.mileage-form_subtitle {
  color: #272a41;
  font-size: 16px;
  font-weight: 500;
  padding: 16px 0px 8px;
}
.textarea-text {
  text-align: end;
  font-size: 11px;
  color: #92939e;
}
.review-details {
  height: 80px;
  width: 308px;
  border: 1px solid#92939e;
  border-radius: 4px;
  resize: none;
  padding: 8px;
  font-size: 15px;
}
.review_points-wrapper {
  line-height: 20px;
  color: #56586a;
  font-size: 13px;
}
.review_points-heading {
  font-size: 16px;
}

.review_points {
  height: unset;
  display: block;
  width: 100%;
  line-height: 20px;
}
.review-title {
  width: 100%;
  font-size: 15px;
}




.ty_wrapper {
  min-width: 320px;
  padding: 24px 16px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  *{
    margin:0;
    padding: 0;
  }
  .ty_icon_block {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #c6eae7;
    background-image: url(https://imgd.aeplcdn.com/0x0/cw/static/icons/svg/thankyou/thumb-up.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
    margin-bottom: 25px;
  }
  .ty_name {
    font-family: Muli-Semibold;  /*  Need correction */
    font-size: 21px;
    color: #00afa0;
    padding-bottom:18px;
    text-align: center;
    margin: 0;
  }
  .ty_text {
    font-size: 15px;
    color: #56586a;
    padding-bottom:10px;
    margin: 0;
  }
  .ty_contact {
    font-size: 15px;
    color: #0288d1;
  }
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
