@import "../../../../ui/style/scss/partials/_variables.scss";
@import "../../../scss/partials/m/imageGallery";
@import "../../../scss/partials/m/full-screen-popup";


#makeOverallTabsWrapper {
  height: 44px;
  position: sticky;
  top: 0;
  z-index: 99990;
}

body {
  font-family: Muli-Regular;
  overflow-x: hidden;
}

.container {
  position: relative;
}

.overall-specs-tabs-container {
  width: 100%;
  display: block;
  background: rgb(255, 255, 255);
  overflow-x: scroll;
  z-index: 6;
  box-shadow: rgb(225, 225, 225) 0 3px 3px;
}

.overall-specs-tabs-container::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.overall-specs-tabs-container::-webkit-scrollbar-thumb,
.overall-specs-tabs-container::-webkit-scrollbar-track {
  display: none;
}

.overall-specs-tabs-container.fixed-tab-nav {
  position: fixed;
  top: 0;
  left: 0;
}

.overall-specs-tabs-wrapper {
  width: 100%;
  display: flex;
  border-bottom: 1px solid rgb(226, 226, 226);
  background: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
}

.overall-specs-tabs-wrapper li {
  font-size: 13px;
  padding: 15px 10px;
  display: table-cell;
  text-align: center;
  white-space: nowrap;
  color: rgb(86, 88, 106);
  cursor: pointer;
  text-transform: uppercase;
}

.overall-specs-tabs-wrapper li.active {
  border-bottom: 3px solid rgb(240, 126, 124);
}

.overall-specs-tabs-wrapper li a {
  text-decoration: none;
  color: rgb(86, 88, 106);
}

.overall-specs-tabs-wrapper li a.active {
  text-decoration: none;
  color: #272a41;
  font-family: Muli-SemiBold, sans-serif;
}

.wrapper {
  margin: auto;
}

/** Stage container **/

.connected-carousels .stage {
  background-color: white;
  position: relative;
}

.connected-carousels .photo-credits {
  position: absolute;
  right: 15px;
  bottom: 0;
  font-size: 13px;
  color: #fff;
  text-shadow: 0 0 1px rgba(0, 0, 0, 85%);
  opacity: .66;
}

.connected-carousels .photo-credits a {
  color: #fff;
}

/** Navigation container **/

.connected-carousels .navigation {
  position: relative;
}

/** Shared carousel styles **/

.connected-carousels .carousel {
  overflow: hidden;
  position: relative;
}

.connected-carousels .carousel ul {
  width: 10000em;
  position: relative;
  list-style: none;
  margin-left: -5px;
  margin-right: -5px;
  padding: 0;
  min-height: 210px;
}

.connected-carousels .carousel li {
  float: left;
  min-height: 60px;
}

.carousel-stage ul li img {
  width: 100vw;
}

/** Stage carousel specific styles **/

.connected-carousels .carousel-stage {
  min-height: 210px;
  margin: 0 10px;
  z-index: 3;
}

/** Navigation carousel specific styles **/

.connected-carousels .carousel-navigation li {
  cursor: pointer;
}

.connected-carousels .carousel-navigation li img {
  display: block;
  padding: 5px;
  width: 33.33vw;
}

.connected-carousels .carousel-navigation li.inactive img {
  opacity: .7;
}

.connected-carousels .carousel-navigation li.active img {
  opacity: 1;
}

/** Stage carousel controls **/

.connected-carousels .prev-stage,
.connected-carousels .next-stage {
  display: block;
  position: absolute;
  top: 0;
  height: 410px;
  color: #fff;
}

.connected-carousels .prev-stage {
  left: 0;
}

.connected-carousels .next-stage {
  right: 0;
}

.connected-carousels .prev-stage span,
.connected-carousels .next-stage span {
  position: absolute;
  top: 40%;
  width: 30px;
  height: 30px;
  text-align: center;
  background: #fff;
  color: #000;
  text-decoration: none;
  text-shadow: 0 0 1px #fff;
  font: 24px/27px Arial, sans-serif;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 0 2px #999;
  -moz-box-shadow: 0 0 2px #999;
  box-shadow: 0 0 2px #999;
  opacity: .8;
  z-index: 6;
}

.connected-carousels .prev-stage span {
  left: 0;
}

.connected-carousels .next-stage span {
  right: 0;
}

/** Navigation carousel controls **/

.connected-carousels .prev-navigation,
.connected-carousels .next-navigation {
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  background: #4e443c;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 0 1px #000;
  font: 16px/29px Arial, sans-serif;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: 0 0 2px #999;
  -moz-box-shadow: 0 0 2px #999;
  box-shadow: 0 0 2px #999;
}

.connected-carousels .prev-navigation {
  left: -15px;
  top: 22px;
  text-indent: 6px;
}

.connected-carousels .next-navigation {
  right: -15px;
  top: 22px;
  text-indent: 20px;
}

.connected-carousels .prev-navigation.inactive,
.connected-carousels .next-navigation.inactive {
  opacity: .5;
  cursor: default;
}

.count-wrapper {
  position: absolute;
  top: 86%;
  color: rgb(255, 255, 255);
  font-size: 13px;
  background: url(#{$cloudfront-img-cdn-path}/images-mobiles/Images_count.svg) 4px 3px / 16px no-repeat rgb(166, 167, 177);
  padding: 3px 10px 3px 25px;
  z-index: 6;
}

.count-wrapper p {
  margin: 0;
}

#ful_scrn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: rgb(255, 255, 255);
  z-index: 6;
  background: url(#{$cloudfront-img-cdn-path}/images-mobiles/fullscreen.svg) 12px 6px / 10px no-repeat rgb(116, 118, 133);
  padding: 3px 10px 3px 30px;
  border-radius: 100px;
  font-size: 13px;
}

#ful_scrn_close {
  position: absolute;
  top: 10%;
  right: 10px;
  color: rgb(255, 255, 255);
  z-index: 6;
  background: rgb(116, 118, 133);
  padding: 5px 9px;
  border-radius: 50%;
  font-size: 13px;
  text-decoration: none;
}

.image-heading-conatiner {
  margin-top: 20px;
  padding: 0 16px 17px;
}

.heading-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.description {
  font-size: 13px;
  line-height: 1.54;
  color: #56586a;
  background: #fff;
  font-family: Muli-Regular, sans-serif;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin-top: 4px;
}

.description-expand {
  display: block;
}

.read-more {
  display: block;
  font-size: 13px;
  color: #0288d1;
  font-family: Muli-Bold, sans-serif;
  margin: 0 0 16px auto;
  font-weight: bold;
}

.footer_navi > .breadcrumbs > ul > li {
  margin-right: 5px;
}

.get_price_btn {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: sticky;
  bottom: 0;
  z-index: 4;
  margin: 0;
  cursor: pointer;
}

.btn_text {
  background: rgb(208, 35, 38);
  color: #fff;
  padding: 17px;
  margin: 0;
  text-align: center;
  font-weight: normal;
  font-size: 15px;
  border: 2px solid #fff;
}
