@import "../../../base/index";
@import "../../../mixins/index";
@import "../../../partials/d/price-in-other-cities";
@import "../../../partials/d/upcoming-cars-card";
@import "../../../partials/d/user-review-card";
@import "../../../partials/d/user-review-widget";

.ad-block__container {
    padding: 16px 90px;
}

.ad-block {
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
}

.content__wrapper {
    @include flexbox;

    .main__content {
        width: 66.66666%;
        padding-right: 26px;
    }

    .aside__content {
        width: 33.33333%;
        padding-left: 26px;
    }
}

//car details sectiom
.car-details__container {
    border: 1px solid  map-get($color-map, "whisper" );
    border-radius: 4px;
    margin: 12px 0; 
}

//review card section
.review-card__head {
    @include flexbox;
    padding: 24px 20px 20px;
    border-bottom: 1px solid  map-get($color-map, "whisper" );


    .card-head__left-col {
        max-width: 196px;
        @include flexbox;
        @include align-items(center);
        margin-right: 20px;
    }

    .card-head__image {
        max-width: 195px;
    }

    .card-head__right-col {
        width: 100%;
    }

    .card-head__model-name {
        font-size: 18px;
        padding-bottom: 8px;
        font-weight: $font-bold;
        color: map-get($color-map, "valhalla");
    }

    .card-head__price {
        padding-bottom: 8px;
    }

    .card-head__car-price {
        font-size: 18px;
        font-weight: $font-bold;
        color: map-get($color-map, "valhalla");
    }

    .card-head__car-price-detail {
        font-size: 13px;
        font-weight: $font-light;
        color: map-get($color-map, "manatee");
    }

    .march-offers {
        padding-bottom: 8px;
        color: map-get($color-map, "pacific-blue" );
        font-weight: $font-bold;
        font-size: 15px;
    }
    .arrow_right {
        @include border-arrow(8,"comet",1,"right");
        margin: 1px 0;
    }
}
//overall rating section
.user-review__rating {
    padding: 20px;

    .user-rating__header {
        font-family: $font-muli-semibold;
        color: map-get($color-map, "valhalla" );
        font-size: 16px;
    }

    .user-rating__container {
        @include flexbox;
        @include align-items(center);
        margin: 12px 0;
        background-color: map-get($color-map, "white-smoke-2" );
        border: 1px solid map-get($color-map, "whisper" );
        border-radius: 4px;
        padding: 16px 12px;
        width: 100%;
    }
}

.user-rating__overall {
    @include flexbox;
    @include align-items(center);
    width: 35%;
    border-right: 1px solid map-get($color-map, "whisper" );

    .user-rating__review-count {
        color: map-get($color-map, "pacific-blue" );
        font-weight: $font-bold;
        font-size: 13px;
        padding-left: 16px;
    }

    .user-rating__value {
        @include inline-flex;
        @include align-items(center);
    }
}

@include rate-star-icon(5, "normal",.6, 18px, $font-bold);

.write-review__btn {
    color: #d02326;
    padding: 10px;
    border: 1px solid #d02326;
    border-radius: 3px;
    max-width: 328px;

    .write-btn__text {
        font-size: 15px;
        text-align: center;
    }
}

.no-user-review__container {
    @include flexbox;
    @include flex-direction(column);
    @include align-items(center);

    .no-review__card {
        @include no-results;
        height: 186px;
        width: 400px;
    }

    .user-carousel__header {
        padding: 20px 0 0;
        font-size: 21px;
    }
}

// similar cars section & popular cars section
.user-review__carousel {
    padding: 24px 0px 20px 16px;
}

.user-carousel__header {
    padding-bottom: 16px;
    font-size: 19px;
    color: map-get($color-map, "valhalla" );
    font-family: $font-muli-semibold;
}

// user review info
.user-review__container {
    padding: 24px 16px 20px;

    .user-review__header {
        @include flexbox;
    }

    .user-review__title {
        @include text-truncate('',2);
        padding-left: 8px;
        font-family: $font-muli-semibold;
        color: map-get($color-map, "valhalla" );
        font-size: 19px;
        padding-bottom: 8px;
        
    }

    .user-review__author-days {
        color: map-get($color-map, "comet" );
        font-size: 13px;
    }

    .user-review__description {
        padding: 12px 0;
        font-size: 15px;
        color: map-get($color-map, "valhalla" );
        line-height: 23px;
    }
}

// aside conatiner 
.aside__content {

    .ad-block {
        @include flexbox;
        @include justify-content(center);
        @include align-items(center);
        margin: 10px 20px 24px;
    }
}

#adSlot_2,.ad-block {
    background: #fff !important;
}