/*! CSS Used from: Embedded */

.find-the-cars-block .h2 {
  font-size: 19px;
  font-family: Muli-SemiBold;
  color: #272a41;
  padding: 24px 0px 17px 18px;
  text-align: left;
  border-bottom: 1px solid #e8e8e8;
}

.find-the-cars-tab {
  width: 100%;
  display: block;
  background: rgb(255, 255, 255);
  overflow-x: scroll;
  z-index: 999999;
  box-shadow: rgb(225, 225, 225) 0px 3px 3px;
}

.find-the-cars-tab::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.find-the-cars-tab::-webkit-scrollbar-thumb,
.find-the-cars-tab::-webkit-scrollbar-track {
  display: none;
}

.find-the-cars-tab li {
  display: table-cell;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  text-transform: uppercase;
  padding: 14px 0px;
}

.find-the-cars-tab li a {
  color: #56586a;
  padding: 13px 16px;
  font-size: 13px;
  border-bottom: 3px solid #ffffff;
  font-weight: normal;
  font-family: "Muli-Regular";
}

.find-the-cars-tab li a.active {
  border-bottom: 3px solid #f07e7c;
  color: #272a41;
  font-family: Muli-SemiBold;
}

.find-the-cars-block .tab-content {
  padding: 20px 15px 10px 15px;
  background: #f5f5f5;
}

.find-the-cars-block .price-range {
  padding: 0 5px !important;
  text-align: center;
}

.find-the-cars-block .price-range li {
  padding: 8px 15px;
  font-size: 13px;
  color: #56586a;
  border-radius: 20px;
  border: 1px solid #56586a;
  background: #ffffff;
  display: inline-block;
  margin-bottom: 16px;
  margin-right: 8px;
}

.find-the-cars-block .price-range li:hover {
  border: 1px solid #d02326;
  color: #d02326;
}

.find-the-cars-block .price-range li:hover a {
  color: #d02326;
}

.find-the-cars-block .fuel-type {
  text-align: center;
}

.find-the-cars-block .fuel-type li {
  background: #ffffff;
  list-style: none;
  padding: 16px 0px;
  border-radius: 3px;
  width: 156px;
  height: 79px;
  text-align: center;
  display: inline-block;
  margin-bottom: 12px;
  box-sizing: content-box;
}

.find-the-cars-block .fuel-type li:nth-child(3) img {
  width: 40px;
}

.find-the-cars-block .fuel-type li p {
  text-align: center !important;
  font-size: 15px;
  color: #56586a;
  margin: 13px 0 0 0;
  text-transform: capitalize;
}

.find-the-cars-block .fuel-type li:nth-child(even) {
  margin-right: 13px;
}

.find-the-cars-block .body-type {
  text-align: center;
}

.find-the-cars-block .body-type li {
  background: #ffffff;
  list-style: none;
  padding: 16px 0px;
  border-radius: 3px;
  width: 156px;
  height: 79px;
  text-align: center;
  display: inline-block;
  margin-bottom: 12px;
  box-sizing: content-box;
}

.find-the-cars-block .body-type li span {
  display: block;
  height: 35px;
  margin-top: 15px;
}

.find-the-cars-block .body-type li p {
  text-align: center !important;
  font-size: 15px;
  color: #56586a;
  margin: 13px 0 0 0;
  text-transform: capitalize;
}

.find-the-cars-block .body-type li:nth-child(odd) {
  margin-right: 13px;
}

.find-the-cars-block .view-more {
  font-size: 15px;
  color: #0288d1;
  text-decoration: none;
  text-transform: capitalize;
  text-align: center;
  margin: 10px 0;
  font-family: Muli-Regular;
  float: none;
  background: none;
}

.find-the-cars-block .new-min-cls {
  position: relative;
}

.find-the-cars-block .min_cls {
  height: 245px;
  overflow-y: hidden;
  transition: height 0.3s linear;
}

.text-center {
  text-align: center !important;
}

.find-the-cars-block .min_read {
  display: inline-block;
}

@media screen and (max-width: 568px) {
  .find-the-cars-block .fuel-type li {
    margin-right: 12px !important;
  }
  .find-the-cars-block .fuel-type li:nth-child(even) {
    margin-right: 12px !important;
  }
  .find-the-cars-block .body-type li {
    margin-right: 12px !important;
  }
  .find-the-cars-block .body-type li:nth-child(even) {
    margin-right: 12px !important;
  }
}

@media screen and (max-width: 425px) {
  .find-the-cars-block .fuel-type li:nth-child(even) {
    margin-right: 0px !important;
  }
  .find-the-cars-block .body-type li:nth-child(even) {
    margin-right: 0px !important;
  }
}

@media screen and (max-width: 320px) {
  .find-the-cars-block .fuel-type li {
    width: 134px;
  }
  .find-the-cars-block .body-type li {
    width: 134px;
  }
}

* {
  -webkit-overflow-scrolling: touch;
}

.tabs {
  min-height: 0px;
  clear: both;
  margin: 0;
  margin-bottom: 0px;
}

.find-the-cars-tab * {
  margin: 0 auto;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/*! CSS Used from: Embedded */

::placeholder {
  color: #92939e;
}

:-ms-input-placeholder {
  color: #92939e;
}

::-ms-input-placeholder {
  color: #92939e;
}
