@import "../../../scss/mixins/icons";
@import "../../../scss/base/index";
/*! CSS Used from: Embedded */

h1,
h2,
h3 {
  font-weight: normal;
}

a {
  -webkit-appearance: none;
}

img {
  border: 0px;
}

a:focus {
  outline: 0px;
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

a:hover {
  outline: none;
}

h2 {
  color: rgb(209, 24, 3);
  font-size: 16px;
  padding: 10px 0px;
  font-weight: normal;
  line-height: normal;
}

ul {
  margin: 0;
  padding: 0 !important;
}

.rupee_font {
  font-family: Sans-Serif !important;
  letter-spacing: normal;
  font-weight: normal !important;
  display: inline !important;
  margin: 0 !important;
  padding: 0;
}

* {
  transition-duration: 0.6s;
  transition-property: all;
  transition-timing-function: ease;
}

.noback {
  text-align: center;
  z-index: 99999;
  position: relative;
  padding: 10px 0;
  background: #f0f0f0;
}

.adbanner1 {
  background: #ddd;
  width: 100%;
  padding: 5px 0;
}

.colur_grey {
  color: #575756 !important;
}

.chk_prc_btn {
  border: 1px solid #d02326;
  width: auto;
  margin: 0 auto;
  text-align: center;
  border-radius: 50px;
  margin-top: 10px;
  font-family: Muli-SemiBold;
  display: block;
  font-size: 15px;
  color: #d02326;
  padding: 10px 0;
  transition: all 0.3s;
}

.thre_links {
  background-color: #f9f9f9;
  overflow: hidden;
  clear: both;
  padding: 10px 5px;
}

.thre_links span {
  white-space: nowrap;
  font-size: 11px;
  color: #92939e;
  padding: 5px 0;
}

.thre_links .trans {
  display: table-cell;
  background:
    url("#{$img-cdn-path}/0x0/cw/static/icons/svg/56586a/transmission.svg")
    4px 0px no-repeat;
  padding-left: 30px;
  width: 160px;
  background-size: 22px;
}

.thre_links .fuel {
  display: table-cell;
  background:
    url("#{$img-cdn-path}/0x0/cw/static/icons/svg/56586a/fuel.svg") 5px 1px
    no-repeat;
  padding-left: 27px;
  width: 100px;
  background-size: 15px;
}

.thre_links .vers_cnt {
  display: table-cell;
  padding-left: 10px;
  width: 60px;
  color: #56586a;
  border-left: 1px solid #e8e8e8;
}

.main_dv {
  overflow: hidden;
  display: block;
  border: 0px solid red;
  padding-bottom: 15px;
}

.noback {
  padding: 0;
}

.slid_title_make_top h1 {
  display: block;
  padding: 21px 20px 20px 17px;
  font-size: 21px;
  color: #272a41;
  font-family: Muli-Regular;
}

.make_list h2 {
  padding: 0 16px 4px;
  color: #272a41;
}

.make_list ul li {
  display: block;
  overflow: hidden;
  list-style: none;
  border-bottom: 16px solid #f0f0f0;
}

.make_list ul li .left {
  display: block;
  float: left;
  width: 124px;
  border: 1px solid #f0f0f0;
  margin-right: 12px;
  overflow: hidden;
  height: 70px;
}

.make_list ul li .right {
  display: block;
  float: left;
  width: 56%;
  border: 0px solid #f0f0f0;
}

.make_list ul li .left img {
  width: 100%;
}

.car_name {
  font-size: 17px;
  color: #272a41;
  font-family: Muli-SemiBold;
  display: block;
  padding-bottom: 10px;
}

.make_price_label {
  font-size: 12px;
  color: #92939e;
  padding-top: 8px;
  overflow: hidden;
  display: block;
}

.make_price {
  font-size: 15px;
  color: #56586a;
  font-family: Muli-Regular;
  font-weight: bold;
}

.adbanner1 {
  background: #f0f0f0 !important;
  padding: 0 !important;
  width: 100%;
}

.clr {
  clear: both;
}

.top_gap_cls {
  padding-top: 16px;
  padding-bottom: 16px;
}

.top_ad {
  text-align: center;
  z-index: 99999;
  position: relative;
  background: #f0f0f0;
  padding: 2px 0;
  min-height: 120px;
  display: flex;
  align-items: center;
}

.top_ad .top_gap_cls {
  padding: 0px !important;
}

.uc-title-hdng {
  font-size: 17px;
  margin: 0;
  padding: 10px 0px;
}

.uc-title-txt {
  font-size: 13px !important;
  margin: 0;
  width: 66%;
  padding-bottom: 10px;
}

.main_dv .car_name {
  font-size: 17px !important;
  color: #272a41;
  font-family: Muli-SemiBold;
  display: block;
  padding-bottom: 10px;
  font-weight: normal !important;
}

@media screen and (max-width: 320px) {
  .make_list ul li .left {
    margin-right: 6px;
  }
}

* {
  transition-duration: inherit;
}

* {
  -webkit-overflow-scrolling: touch;
}

/*! CSS Used from: Embedded */

::placeholder {
  color: #92939e;
}

:-ms-input-placeholder {
  color: #92939e;
}

::-ms-input-placeholder {
  color: #92939e;
}

/*! CSS Used from: Embedded */

.uc-grid {
  padding: 20px 20px 20px 20px;
  background: #f0f0f0;
}

.usedCars-card * {
  color: #ffffff;
  font-family: "Muli-Regular";
  font-weight: normal;
  box-sizing: border-box;
}

.usedCars-card {
  border-radius: 5px;
  height: 97px;
  background: rgb(241, 128, 126);
  background: linear-gradient(
    90deg,
    rgba(241, 128, 126, 1) 0%,
    rgba(250, 185, 164, 1) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.usedCars-card a:hover {
  color: #ffffff;
}

.usedCars-card .graphic {
  position: absolute;
  top: auto;
  bottom: 0;
  left: auto;
  right: 0;
  margin: auto;
}

a {
  -webkit-appearance: none;
}

a:focus {
  outline: 0px;
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

a:hover {
  outline: none;
}

.flotingfrm {
  left: 0;
  right: 0;
  position: fixed;
  bottom: 0;
  z-index: 99;
  color: #fff;
  box-shadow: 0px 0px 26px -7px #000;
}

.flotingfrm {
  left: inherit;
  right: 19px;
  position: fixed;
  bottom: 20px;
  z-index: 99;
  color: #fff;
  box-shadow: 0 2px 6px 0 rgba(66, 0, 0, 0.5);
  width: 56px;
  height: 56px;
  background: #f07e7c url("#{$img-cdn-path}/0x0/ct/static/icons/svg/ffffff/refine.svg")
    16px 15px no-repeat;
  background-size: 23px;
  border-radius: 50%;
}

.count {
  position: absolute;
  right: -50px;
  top: 10px;
  background: #fff;
  border-radius: 50%;
  font-size: 10px;
  width: 16px;
  height: 15px;
  text-align: center;
}

.sellrinfobtn {
  position: relative;
}

::placeholder {
  color: #92939e;
}

:-ms-input-placeholder {
  color: #92939e;
}

::-ms-input-placeholder {
  color: #92939e;
}

.newsExpertHeaderContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.newsExpertHeaderContainer a {
  padding-top: 10px;
  padding-bottom: 2px;
}

.review_bg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #56586a;
  transition: opacity 500ms;
  display: none;
  z-index: 9999999;
  opacity: 0.8;
}
.askExpertNew p {
  line-height: normal;
  padding: 0;
  margin: 0;
  text-align: left;
  color: #56586a;
  font-size: 15px;
  font-family: Muli-Regular;
  padding: 97px 0 0 39px;
}
.postUserReview {
  background-color: #fff;
  position: fixed;
  height: 227px;
  width: 335px;
  z-index: 9999999;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
.clos_con {
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 0px;
  cursor: pointer;
}
.clos_con img {
  padding: 9px 11px 6px;
  margin: 0px;
  line-height: normal;
  height: 30px;
}
.askExpertNew {
  background: url("#{$img-cdn-path}/0x0/ct/static/icons/svg/search-folder.svg") 40px
    30px no-repeat;
}
.exit {
  display: block;
  width: 90%;
  text-align: right;
  padding: 45px 0 0 0;
  font-family: Muli-Regular;
  color: #d02326;
}
.lightboxpop {
  margin: 0 auto;
  background: #fff;
  border-radius: 0px;
  width: 650px;
  transform: translateY(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: fixed;
  top: 50%;
  left: 50%;
  right: 50%;
  z-index: 9999999;
  display: block;
  text-align: left;
}

.separator {
  width: 100%;
  height: 16px;
  background: #f0f0f0;
}

/* For Breadcrump */

.clear {
  clear: both;
  font-size: 0px;
}

.footer_navi {
  background: #f0f0f0;
  padding: 15px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.footer_navi ul {
  list-style: none;
  overflow: hidden;
}

.footer_navi ul li {
  float: left;
}

.footer_navi ul li a {
  display: block;
  text-decoration: none;
  color: #272a41;
  font-size: 13px;
  padding-right: 10px;
}

.footer_navi ul li.active {
  color: #92939e;
  font-size: 13px;
}

/* for swiper */
.make_list h2 {
  padding: 0px 16px;
  color: #272a41;
}

.swiper-container {
  margin: 0 auto;
  position: relative;
  z-index: 1;
  margin-top: 0 !important;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  transition-duration: 0ms;
  transform: translate3d(0px, 0px, 0px);
}

@media screen and (min-width: 360px) {
  .swiper-slide {
    width: 304px !important;
  }
}

.choose_brand {
  background: #c3c3c1;
  padding: 10px 15px;
}

.choose_brand h2 {
  font-size: 17px;
  color: #111111;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Muli-semibold;
  padding: 0px;
}

.choose_brand .swiper-container {
  overflow-x: scroll;
  padding: 10px 0;
}

.choose_brand .swiper-slide {
  width: auto !important;
  margin-right: 15px !important;
  margin-left: 0;
}

.choose_brand .swiper-slide:first-child {
  margin-left: 0 !important;
}

.choose_brand .swiper-slide a {
  display: block;
  padding: 5px 8px;
  font-size: 13px;
  border: 1px solid #444444 !important;
  text-decoration: none;
  background: #ffffff;
  width: 105px;
  text-align: center;
}

/* Ad Styling starts here */

.adplac {
  background: #f0f0f0;
  text-align: center;
  padding: 2px 0;
  min-height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.adcenter {
  text-align: center;
}

.top_gap_cls {
  padding-top: 16px;
}

.adbanner1 {
  background: #f0f0f0;
  width: 100%;
  padding: 5px 0;
}

.adbanner1 .adblk {
  width: 320px !important;
  min-height: 50px;
  margin: auto;
  box-shadow: 1px 3px 3px #aaa;
}

.top_botton_gap {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
/* Ad styling ends here */

.filter_model_list .model_card {
  padding: 20px 16px 0;
  display: flex;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
}

.filter_model_list .model_name {
  color: #272a41;
  font-family: Muli-SemiBold, sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 4px;
  text-align: left;
}

.filter_model_list .price {
  color: #272a41;
  font-family: Muli-Regular, sans-serif;
  font-size: 15px;
  margin-bottom: 4px;
}

.filter_model_list .price_text {
  color: #56586a;
  font-size: 12px;
  text-align: left;
  margin-bottom: 0;
}

.version_visibility_toggler {
  padding: 12px 0;
  text-align: center;
  color: #272a41;
  font-family: Muli-Regular, sans-serif;
  font-size: 13px;
  margin-right: 4px;
  border-bottom: 1px solid #e8e8e8;
}

.turn {
  background: url("#{$img-cdn-path}/0x0/cw/static/icons/svg/arrow-down.svg") 75% 18px/14px no-repeat;
}

.current {
  background: url("#{$img-cdn-path}/0x0/ct/static/icons/svg/57596b/up-arrow.svg") 75% 18px/14px no-repeat;
}

.remaining_version_text {
  font-size: 13px;
  color: #272a41;
  line-height: 20px;
  padding: 12px 16px;
  border-top: 1px solid #e8e8e8;
}

.version_count {
  color: #0288d1;
}

.make_list .separator {
  height: 12px;
}

.hide_accordian_card {
  display: none;
}

.right_arrow_icon {
  height: 12px;
  width: 12px;
  object-fit: contain;
  padding-top: 2px;
}

.filter_model_list .model_card_image_block {
  width: 140px;
  height: 81px;
  margin-right: 8px;
  margin-bottom: 9px;
}

.just-launched-label {
  background-color: map-get($color-map,"orange");
  position: absolute;
  left: 8px;
  top: 8px;
  color: map-get($color-map,"white");
  padding: 4px 8px;
  font-size: 10px;
  border-radius: 2px;
}

.make_list .no-of-cars-text{
  color: map-get($color-map, "manatee");
  padding-top: 1px;
  margin-bottom: 10px;
}

.highest_mileage_label {
  position: absolute;
  top: 8px;
  left: 8px;
  background-color: map-get($color-map, "coral");
  color: map-get($color-map, "white");
  padding: 2px;
  font-size: 10px;
  border-radius: 2px;
}