
.compare_btm_block * {
    margin:0 auto;
    box-sizing: content-box;
}
/*Check box styles start */
.compare-vrsn{float: left;}
.compare-vrsn label{ font-size: 12px; color: #92939e; line-height: 16px;}
.compare-vrsn input{margin: 0 !important; padding: 0 !important;}
.check_input{width: 16px; height: 16px; background: #ffffff; border: 1px solid #aaaaaa; position: absolute; left: 0;}
.position-r{position: relative;}
.checked.compare-vrsn label{color: #272a41 !important;}
.chkbox-main {display: block;  position: relative; padding-left: 20px;cursor: pointer; font-size: 20px;}
.checkbox { visibility: hidden;}
.geekmark { position: absolute;top: 0; left: 0;height: 14px; width: 14px; background-color: #ffffff; border-radius: 2px; border: 1px solid #aaaaaa;}
.chkbox-main input:checked ~ .geekmark { background-color: #e16363; border-radius: 2px; border: 1px solid #e16363;}
.geekmark:after {content: ""; position: absolute; display: none;}
.chkbox-main input:checked ~ .geekmark:after {display: block;}
.chkbox-main .geekmark:after {left: 4px; bottom: 4px; width: 4px; height: 8px; border: solid white; border-width: 0 2px 2px 0; -webkit-transform: rotate(45deg);  -ms-transform: rotate(45deg);  transform: rotate(45deg);}
/*Check box styles end */


/*Comaprecar popout styles start */
.compare_btm_block{position: fixed; bottom: -320px; width: 100%; transform: translateY(0px); transition: all 0.2s linear 0s; z-index: 99;}
.compare_btm_block article{background: #ffffff; padding-bottom: 10px;}
.compare_btm_block .compare_b{width:260px; margin: 0 auto;}
.compare_btm_block .compare_txt{position: absolute; color: #fff; font-size: 13px; top: 20px; left: 0; right: 0; margin: auto;text-align: center; }
.compare_btm_block .bg_cmpr{width: 120px; border-width: 0px 32px 28px; border-color: rgb(240, 126, 124) transparent; padding-left: 10px; padding-bottom: 8px; padding-right: 10px; padding-top: 8px; border-style: solid; }
.compare_btm_block .bg_cmpr_inr { bottom: -11px; width: 144px; border-radius: 12px 12px 0px 0px; background-color: #f07e7c; height: 16px; position: absolute; top: 11px; left: 58px; }
.compare_btm_block .compareCarWrapper{padding:9px 17px;font-family:Muli-Regular; border-top: 2px solid #f07e7c; background: #ffffff;}
.compare_btm_block .compareTitle{color:#272a41;font-size:19px;font-family: Muli-SemiBold;padding:16px 0px 22px;}
.compare_btm_block .imgUploadBlk{text-align:center;display: table; width: 100%; position: relative;}
/*.detailsnedit-bock{text-align:center; display: table; width: 100%; position: relative;}*/
.compare_btm_block .imgUploadBlk .vsblk{width:50%;height:182px;background-color:#ffffff;vertical-align:middle;display:inline-block;display:table-cell; position:relative; border:1px solid #e8e8e8; padding: 0 8px;}
.compare_btm_block .imgUploadBlk .vsblk:last-child{border-left: 0;}
.compare_btm_block .imgUploadBlk .vsblk .car-block{text-align: left;}
.compare_btm_block .car-title{color: #0288d1; font-size: 13px; font-family: Muli-SemiBold; margin-top: 9px;}
.compare_btm_block .car-version{color: #56586a; font-size: 13px; font-family:Muli-Regular; margin: 8px 0}
.compare_btm_block .car-price{font-size: 15px; color: #272a41; font-family: Muli-SemiBold;}
.compare_btm_block .colse{position: absolute; text-decoration: none; right: 7px; top: 0;}
.compare_btm_block .pecBlk{text-align:center;}
.compare_btm_block .pecBlk.brdTop{border-top:1px solid #e8e8e8;}
.compare_btm_block .pecImg{display: inline-block;width: 39.029%;vertical-align: middle;}
.compare_btm_block .redBtn{color:#fff;font-size:15px;text-align:center;width:91.5%;max-width:100%;background-color:#d02326;padding:10px 0px 11px;border-radius:3px;margin:0px auto 9px; border:0; display:block; outline:none;}
.compare_btm_block .blkGap{width:100%;height:16px;background-color:#f0f0f0;}
.compare_btm_block .ecBlk{background:transparent url("https://d5x4wettsjecf.cloudfront.net/images-mobiles/right-arrow.svg") no-repeat right center;border-bottom:1px solid #e8e8e8;padding-top:12px;}
.compare_btm_block .cars {width: 60px;}
.compare_btm_block .block {display: block; color: #92939e; text-transform: uppercase; font-size: 11px;}
.compare_btm_block .vs{position: absolute; z-index: 1; top: 20%; right: 0px; left: 0px;}
.top_cls{transform: translateY(-59px); transition: all 1s linear 0s;}
.move_top{transform: translateY(-310px); transition: all 1s linear 0s;}
/*Comaprecar popout styles end */

/*Compare msg styles start*/
.compare-msg{width: 80%; margin: 0 auto; padding: 8px 16px; font-size: 13px; color: #ffffff; background: #56586a; border-radius: 3px; position: fixed; left: 0; right: 0; bottom: 12%; display: none; z-index: 9999;}
/*Compare msg styles end*/


/*Add Car block Styles start*/
.makeModelSelection{position: fixed;top: 0;right: 0px;bottom: 0px;left: 0px;z-index: 999999;background-color: #fff;border: 0px solid #ccc;box-sizing: border-box;overflow-y:auto} 
.makeModelTitle{color:#56586a;font-family: Muli-Regular;font-weight: bold;font-size: 16px;line-height: normal;width: 86%;display: inline-block;} 
.makeModelSelection .makeModelTitle.newTitle{color:#272a41;margin:0px -20px;padding:15px 20px 14px !important;width:100%;}
.makeModelSelection header{width: 100%;padding: 12px 19px 17px;vertical-align: middle;box-sizing:border-box;box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.4);position:relative;z-index:1;}.makeModelSelection img{vertical-align:bottom;} 
.makeModelSelection .makeModelTitle { font-family:Muli-Regular;font-weight: bold;font-size: 16px;line-height: normal;width: 86%;display: inline-block;height: auto;padding: 5px 10px 0px;} 
.makeModelSelection .contentBlock{padding-top:0px;}
.contentHeader{width:100%;height:114px;background:#f07e7c url("https://d5x4wettsjecf.cloudfront.net/images-mobiles/selectMakeModel.svg") no-repeat bottom center;}.contentBlock{padding:20px;} 
.contentBlock ul{list-style: none;} .contentBlock ul li{color:#56586a;padding:15px 0px 14px;border-bottom:1px solid #efefef;background:transparent url("https://d5x4wettsjecf.cloudfront.net/images-mobiles/down_arrow_side.svg") no-repeat right center}.contentBlock ul li a{color:#56586a;display:block;} 
.contentBlock ul li.listGroupTitle {background: none !important;background-color: #f3f3f3 !important;margin: 0px -20px;padding: 15px 20px 14px !important;box-sizing: border-box;}
.contentBlock .slctTitle{color:#272a41;font-size:16px;font-weight: bold;padding:15px 0px;}
.d-block{display: block;}
/*Add Car block Styles end*/

.unchecked .chkbox-main .geekmark:after{display: none !important;}
.unchecked .chkbox-main input:checked ~ .geekmark:after{
    background-color: #ffffff !important;
    border-radius: 2px;
    border: 1px solid #aaaaaa !important;
}
.unchecked .chkbox-main input:checked ~ .geekmark{background: #ffffff;border: 1px solid #aaaaaa !important;}


.vs-icon {
    padding: 0 2px;
    border: 1px solid rgb(206, 170, 170);
    color: rgb(206, 170, 170);
    border-radius: 50%;
}
