.content-area {
  width: 1156px;
  margin: auto;
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .content-area {
    width: 940px;
  }
}

section > div.heading {
  margin: 15px 0 10px;
}

.breadcrumb__container {
  margin: 20px 0;
}

.heading > h1 {
  line-height: 20px;
  color: #272a41;
  font-size: 25px;
  font-family: Muli-SemiBold, sans-serif;
}

.pic-heading-city {
  font-family: Muli-Regular, sans-serif;
  color: #0288d1;
  cursor: pointer;
}

.edit-btn {
  fill: #0288d1;
}

li > a.more {
  cursor: pointer;
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .lftColm01 {
    width: 600px;
    float: left;
    height: auto;
  }
}

.lftColm01 {
  width: 764px;
  float: left;
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .foldout {
    height: 350px;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .content_are,
  .content_are .priceListByVer,
  .content_are .similarCarsSlider .popularNewCarsGallery {
    width: 940px;
  }
}

.foldout {
  border: 1px solid #f0f0f0;
  box-shadow: none;
  box-sizing: border-box;
  min-height: 300px;
  margin: 0 auto;
  position: relative;
  border-radius: 0;
  background: #fff;
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .rhtColm01 {
    width: 320px;
    float: right;
  }
}

.rhtColm01 {
  width: 340px;
  float: right;
}

.seperator {
    width: 100%;
    height: 20px;
    background: white;
}

.desktop_panel_bg {
  background-color: white !important;
}

.desktop_filter-list-block {
  overflow: auto !important;
}
