.about {
	padding-bottom: 36px;
}

.about_hide {
	height: 114px;
	overflow: hidden;
}

.about-content {
	padding-top: 10px
}

.about-content strong {
	font-size: 17px;
}

.about-content p{
	padding: 0 20px 20px;
	line-height: 25px;
	font-size: 15px;
	text-align: inherit;
	color: map-get($color-map, "valhalla");
}
