@import "../../../ui/style/scss/partials/variables";

.compare-text {
  color: #56586a;
  font-size: 15px;
  text-align: left;
  line-height: 22px;
  margin: 0;
}

.compare-car-container {
  margin-top: 30px;
  overflow: hidden;
}

.compare-car-block {
  float: left;
  border: 1px solid #d2d2d5;
  width: 27.6%;
  margin-right: 25px;
  padding: 15px;
}

#compare-car-block3 {
  margin: 0;
}

.compare-car-block img {
  width: 70px;
  margin: 0 auto 10px;
  display: block;
}

.add-car {
  display: block;
  text-align: center;
  font-size: 11px;
  color: #92939e;
  margin-bottom: 30px;
}

.form-control {
  color: #92939e;
  border: none;
  border-bottom: 2px solid #ccc;
  background: transparent
    url(#{$cloudfront-img-cdn-path}/images4/down_arrow_18.svg) no-repeat right
    10px;
  margin-bottom: 20px;
  padding: 10px;
  padding-left: 0;
  background-size: 12px;
  font-size: 14px;
  position: relative;
}

.disb {
  pointer-events: none;
  color: #e8e8e8;
  border-bottom: 2px solid #e8e8e8;
}

.dropDownWrap {
  border: 1px solid #979797;
  height: 215px;
  overflow-y: auto;
  padding: 8px;
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 1px 5px -1px rgba(82, 86, 88, 42%);
  z-index: 1;
}

.disb .dropDownWrap {
  display: none;
}

.dropdown-option {
  line-height: normal;
  padding: 12px 12px;
  cursor: pointer;
  border-bottom: 0 solid #e2e2e2;
}

.dropdown-label {
  font-weight: bold;
}

.dropdown-option:hover {
  background-color: #f9f9f9;
}

::-webkit-scrollbar {
  display: none;
}

.error_message {
  color: #d02326;
  display: block;
  text-align: center;
  padding-top: 20px;
}

.btn_red {
  border: 1px solid #d02326;
  transition: all .3s;
  background: #d02326;
  padding: 10px 42px;
  width: 168px;
  color: #fff;
  overflow: hidden;
  margin: 20px auto 0;
  text-align: center;
  display: block;
  text-transform: uppercase;
  font-size: 15px;
  cursor: pointer;
  border-radius: 50px !important;
}

@media (min-width: 1300px) and (max-width: 1580px) {
  .compare-car-block {
    width: 26.5%;
  }
}
