/* Widget specific classes */

.tabs_block {
  width: 100%;
  display: block;
  overflow: hidden;
}

.car_launches ul li a {
  font-size: 15px;
  color: #272a41;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Muli-Regular;
}

.car_launches ul {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}

.car_launches ul li {
  display: block;
  border-bottom: 1px solid #f0f0f0;
  overflow: hidden;
  margin: 0 15px;
  padding: 15px 0;
  width: auto;
}
