@import "../../../mixins/icons";
@import "../../../base/typography";
@import "../../../../Css/NewCar/m/SocialMedia.scss";

body {
  font-family: "Muli-Regular" !important;
  padding: 0px;
  margin: 0px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-stretch: normal;
  font-size: 15px;
}

/** ad start **/
.ad_block {
  background: #f0f0f0;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.ad_grid {
  display: block;
  margin: 0 auto;
  width: 320px;
}

/** ad end **/

/** section starts **/
.clear {
  clear: both;
  font-size: 0px;
}

.fancy_title {
  padding: 6px 17px;
  background: #fdefea;
  background: -moz-linear-gradient(
    left,
    #fdefea 1%,
    #fed4d4 100%,
    #fed4d4 100%
  );
  background: -webkit-linear-gradient(
    left,
    #fdefea 1%,
    #fed4d4 100%,
    #fed4d4 100%
  );
  background: linear-gradient(to right, #fdefea 1%, #fed4d4 100%, #fed4d4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdefea', endColorstr='#fed4d4',GradientType=1 );
}

.fancy_title .new_lft {
  font-size: 19px;
  color: #272a41;
  text-align: left;
  background: url("#{$img-cdn-path}/0x0/ct/static/icons/svg/check-orp.svg") right 7px no-repeat;
  background-size: 35px;
  padding: 10px 0px;
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
}

.onRoadPrice .new_lft.prcQuote {
  padding: 19px 20px 21px;
  background-color: #f7f7f7;
}

.share_icon {
  right: -10px;
  float: right;
  position: relative;
}

.onRoadPrice .new_lft .share_icon {
  right: -10px;
  float: right;
  position: relative;
  top: -7px;
}

a:hover {
  outline: none;
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

input[type="submit"],
input[type="button"],
a {
  -webkit-appearance: none;
}

img {
  border: 0px;
}

.ui-bar-b {
  background-color: #fff !important;
  background: none;
  line-height: normal;
}

.loc_selc {
  padding: 0px;
  text-align: center;
  background: #fff;
  border: none;
  margin-bottom: 5px;
}

.customSelectbox.Make {
  margin: 32px auto auto;
}

#make_main {
  color: #92939e;
}

#model_main {
  color: #92939e;
}

.customSelectbox {
  color: #92939e;
  background: transparent
    url("#{$img-cdn-path}0x0/cw/static/icons/svg/6f6f6f/arrow-down.svg")
    no-repeat calc(100% - 14px) center;
  background-size: 12px auto;
}

.customSelectbox {
  color: #56586a;
  font-size: 15px;
  width: 88.89%;
  border: 1px solid #d2d2d5;
  border-radius: 4px;
  text-align: left;
  padding: 11px 20px 13px 20px;
  box-sizing: border-box;
}

.er_msg {
  display: block;
  width: 100%;
  color: #e16363;
  overflow: hidden;
  position: relative;
}

.er_msg {
  position: relative !important;
}

.er_msg_ri {
  float: left;
  display: block;
  padding: 4px 0px 0 0px;
  font-size: 12px;
}

.er_msg_ri {
  color: #e16363;
  font-size: 12px;
  padding: 8px 0px 0 23px !important;
}

.customSelectbox.Model {
  margin: 20px auto 0px;
}

#priceform input.red_btn_new_v {
  background: #db1700 none repeat scroll 0 0 !important;
  border: medium none;
  border-radius: 22px !important;
  color: #fff !important;
  cursor: pointer;
  display: block;
  height: 46px !important;
  margin: 15px auto 32px !important;
  width: 90.558%;
  padding: 10px 0;
  text-shadow: none !important;
  text-transform: uppercase !important;
  outline: none;
}

.separator {
  width: 100%;
  height: 20px;
  background: #f0f0f0;
}
/** section ends **/

/** carousel starts **/

.popular_header .pop_title {
  display: table-cell;
  padding: 25px 10px 12px 17px !important;
  font-size: 19px !important;
  color: #272a41;
  font-family: "Muli-Semibold";
  vertical-align: middle;
  width: 77%;
}

.popular_header .viewLL {
  display: table-cell;
  color: #d02326;
  font-size: 15px;
  padding: 22px 17px 8px 8px;
  vertical-align: middle;
  text-align: right;
  font-family: "Muli-Regular";
}
/** carousel ends **/

.footer_navi {
  background: #f0f0f0;
  padding: 15px;
  margin-top: 2px;
  margin-bottom: 2px;
}

